body {
    overflow: hidden !important;
}

#content {
    display: flex;
    position: relative;
}

.base-container {
    display: flex;
    position: relative;
    min-width: 73vw;
    min-height: 30vh;
    padding: 24px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #363242;
    border-radius: 12px;
    border: 0.5px solid rgb(255, 255, 255, 0.1);
}

#dropZone {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 70vh;
    width: 100%;
    border: 1px;
    border-radius: 12px;
    background-color: #6953D9;
    animation: fadeIn 0.4s ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

#fileInput {
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;

    h1 {
        margin: 20px 0;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 70px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    #uploadFile {
        display: flex;
        height: 55px;
        min-width: 113px;
        background-color: #6f42c1;
        /* Фиолетовый цвет */
        padding-left: 24px;
        padding-right: 24px;
        color: white;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        line-height: 55px;
        transition: color 0.4s ease, background-color 0.3s ease;
        white-space: nowrap;

        &:hover {
            color: #6f42c1;
            background-color: white;
        }
    }
}


.students-adding-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: -31%;
    top: -28%;
    width: 110vw;
    height: 102vh;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
}


.students-adding-container.active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.students-adding-container.closing {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.preview-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 600px;
    max-width: 950px;
    padding: 24px;
    background-color: #363242;
    border-radius: 12px;
    border: 0.5px solid rgb(255, 255, 255, 0.1);
    z-index: 1100;

    p {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.title-preview-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    #cross-preview-container {
        cursor: pointer;
    }
}

.students-base-container {
    display: flex;
    overflow: auto;
    width: 100%;
}

.students-list-container {
    display: grid;
    grid-template-columns: 150px 160px 280px 140px 150px;
    min-width: 880px;
    transition: opacity 0.3s ease-in-out;
}

.preview-students-container__title {
    display: contents;
}

.preview-students-container__title>div {
    color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid #ddd;
    background-color: #363242;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

.preview-student-container {
    display: contents;

}

.preview-student-container.isvalid {
    color: #4caf50 !important;
}

.preview-student-container.invalid {
    color: #f44336 !important;
}

#previewForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out;
}

.loader {
    display: none;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.loader.active {
    display: flex;
}


.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #fcfcfc;
    border-top: 4px solid #6f42c1;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


.complete-logo {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-size: 100px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 50;
}

.error-logo {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-size: 100px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 50;
}

.result-label {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.preview-student-container>div {
    min-height: 35px;
    box-sizing: border-box;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
}

.preview-student-container>div.isvalid {
    color: #4caf50 !important;
}

.preview-student-container>div.invalid {
    color: #f44336 !important;
}



.info-and-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.info {
    display: flex;
    width: 60%;
    justify-content: start;
    align-items: center;
}

.button-container {
    display: flex;
    width: 40%;
    gap: 20px;
    justify-content: end;
    align-items: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #ffffff31;
        border-radius: 12px;
        padding: 8px 14px;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    }
}

.out-button {
    background-color: #f44336;
    color: #ffffff;
    transition: color 0.4s ease, background-color 0.4s ease;

    &:hover {
        color: #f44336;
        background-color: #ffffff;
    }

    &:disabled {
        color: #363242;
        background-color: #250000;
    }
}

.submit-btn {
    background-color: #4caf50;
    color: #ffffff;
    transition: color 0.4s ease, background-color 0.4s ease;

    &:hover {
        color: #4caf50;
        background-color: #ffffff;
    }

    &:disabled {
        color: #363242;
        background-color: #001401;
    }
}

.popup-message {
    display: none;
    position: fixed;
    left: 50%;
    top: 10px;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    animation: slideIn 0.7s ease-out;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.popup-message.error{
    display: flex;
    background-color: #f44336;
    color: #ffffff;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 1280px) {
    .students-adding-container {
        width: 115vw;
        left: -13%;
    }
}

@media (max-width: 1110px) {
    .students-adding-container {
        width: 104vw;
        left: -4%;
    }
}

@media (max-width: 1023px) {
    .students-adding-container {
        width: 107vw;
        left: -17%;
    }

    .preview-form-container {
        max-width: 700px;
    }
}

@media (max-width: 880px) {
    .students-adding-container {
        width: 105vw;
        left: -5%;
    }
}

@media (max-width: 770px) {
    .students-adding-container {
        width: 106vw;
        left: -8%;
    }
}

@media (max-width: 700px) {
    .students-adding-container {
        width: 100vw;
        left: -4%;
    }
}

@media (max-width: 400px) {
    .form-container {
        h1{
            font-size: 22px !important;
        }

        h2{
            font-size: 18px !important;
        }
    }
}