body {
    background-color: #2B2738;
}

.base-container {
    width: 65vw;
    margin: 0 auto;
    margin-top: 60px;
    padding: 24px;
    background-color: #363242;
    border-radius: 12px;
    color: #ffff;
}

.base-container h2{
    font-size: 24px;
    margin-top: 10px;
}

.base-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.base-container a {
    color: #7260F5;
    text-decoration: none;
    transition: background-color 0.9s ease;
}

.base-container a:hover{
    color: #7160f583;
}