{% extends "base.html" %}
{% load static %}


{% block content %}
<head>
    <title>Додати питання до тесту: {{ test.name }}</title>
</head>

{% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static "css/delete_confirm.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/add_question.css" %}">

<body>
        <div id="error-popup" class="error-popup"></div>
        <div id="message-popup" class="message-popup"></div>
        <div class='test-and-students'>
            <div class='main-test-container'>
                <h2>Додати питання до тесту: {{ test.name }}</h2>
                
                {% if test.image %}
                <div class='image-container'>
                    <img src="{{ test.image.url }}">
                </div>
                {% endif %}
                
                <div class='test-link-container'>
                    <label><a href="{% url "tests:edit_test" test.pk%}">Редагувати параметри тесту</a></label>
                    <label><a href="{% url "tests:add_question_group" test_id=test.id %}">Створити групу питань</a></label>
                </div>
                
                <div class='form-test-container'>
                    <form method="post" enctype="multipart/form-data" action="{% url 'tests:add_questions' test_id=test.id %}" id='question_form_id'>
                        <input type="hidden" name="form_type" value="form_question">
                        {% csrf_token %}
                        {% for field in question_form %}
                        {% if field.name == 'text' %}
                            <textarea name="text" id="id_text" rows="5" class="form-control" placeholder="Текст питання"></textarea>
                        {% elif field.name == 'image' %}
                            <div id="image-field" style="display: none;" class='upload-field'>
                                {{ field }}
                                <button type='button', id="uploadImageButton" class="btn-upload">Додати фото</button>
                                
                                <span id="fileName1" class="file-name"></span>
                            </div>
                        {% elif field.name == 'audio' %}
                            <div id="audio-field" style="display: none;" class='upload-field'>
                                {{ field }}
                                <button type='button', id="uploadAudioButton" class="btn-upload">Додати аудіо</button>
                                
                                <span id="fileName2" class="file-name"></span>
                            </div>
                        {% elif field.name == 'scores'%}
                            <div class="custom-number-input">
                                {{ field }}
                                {% comment %} <input name="scores" id="id_scores" type="number" class="number-input" value="0"> {% endcomment %}
                                <div class="arrows">
                                    <button class="arrow up">▲</button>
                                    <button class="arrow down">▼</button>
                                </div>
                            </div>
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% endfor %}
                        
                        <button type="submit" class='question-btn'>Додати питання</button>
                    </form>
                </div>
                
            </div>
            <div class='students-base-container'>
                <div class='students-container'>
                    <form method="post" enctype="multipart/form-data" action="{% url 'tests:add_questions' test_id=test.id %}" id="studentForm">
                        <input type="hidden" name="form_type" value="form_student">
                        {% csrf_token %}
                        
                        <div class="student-item">
                            {{ form_student.as_p }}
                        </div>

                        
                    </form>
                    <button class='all-students-submit-btn'>Обрати усіх</button>
                    <button class='all-students-delete-btn'>Прибрати усіх</button>
                </div>
            </div>
        </div>

    {% if ungrouped_questions or question_groups %}
        <div class='questions-container'>
            {% if ungrouped_questions %}
            <h4>Питання без групи</h4>
            {% for question in ungrouped_questions %}
            {% if question.question_type == 'IMG' and question.text == "" %}
            <div class='question-field'>
                <p style="display: none;">{{ question }}</p> 
                
                <div class='field-image-and-text'>
                    <img src="{% static "icons/image_question.svg" %}">
                    <p>Фото питання</p>
                </div>
                
                <div class='add-and-delete'>
                    {% if question.scores > 0 %}
                        <div class='score-container'>
                            {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                             <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                        </div>
                    {% endif %}

                    <label><a href="{% url 'tests:add_answers' question.id %}">Додати відповідь</a></label>
                    
                    <div class="delete-container"
                        data-type="question" 
                        data-id="{{ question.id }}" 
                        data-question-type="{{ question.type }}"
                        onclick="openModal(this)">
                        <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                    </div>
                </div>

            </div>
            {% elif question.question_type == 'AUD' and question.text == "" %}
            <div class='question-field'>
                <p style="display: none;">{{ question }}</p> 
                
                <div class='field-image-and-text'>
                    <img src="{% static "icons/micro.svg" %}">
                    <p>Аудіо питання</p>
                </div>
                
                <div class='add-and-delete'>
                    {% if question.scores > 0 %}
                        <div class='score-container'>
                            {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                            <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                        </div>
                    {% endif %}

                    {% if question.answer_type != 'AUD' %}
                        <label><a href="{% url 'tests:add_answers' question.id %}">Додати відповідь</a></label>
                    {% endif %}
                    <div class="delete-container"
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                    </div>
                </div>
            </div>
            {% elif question.question_type == 'MTCH' %}
            <div class='question-field'>
                <p>{{ question.question_info|truncatechars:70 }}</p>

                <div class='add-and-delete'>
                    {% if question.scores > 0 %}
                        <div class='score-container'>
                            {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                            <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                        </div>
                    {% endif %}
                    
                    <label><a href="{% url "tests:add_matching_pair" question.id %}">Додати відповідь</a></label>
                    
                    <div class="delete-container"
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                    </div>
                </div>
            </div>
            {% else %}
            <div class='question-field'>
                <p>{{ question.text|truncatechars:70 }}</p>

                <div class='add-and-delete'>
                    {% if question.scores > 0 %}
                        <div class='score-container'>
                            {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                            <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                        </div>
                    {% endif %}

                    {% if question.answer_type != 'AUD' %}
                        <label><a href="{% url 'tests:add_answers' question.id %}">Додати відповідь</a></label>
                    {% endif %}
                    
                    <div class="delete-container"
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            
            {% if question_groups %}
            {% for group in question_groups %}
            <h4>Група "{{ group.name }}"</h4>
            {% for question in group.questions_group.all %}
            {% if question.question_type == 'MTCH' %}
                <div class='question-field'>
                    <p>{{ question.text|truncatechars:70 }}</p>

                    <div class='add-and-delete'>    
                        {% if question.scores > 0 %}
                            <div class='score-container'>
                                {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                                <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                            </div>
                        {% endif %}

                        <label><a href="{% url "tests:add_matching_pair" question.id %}">Додати відповідь</a></label>
                        
                        <div class="delete-container" 
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                        </div>
                    </div>
                </div>
            {% elif question.answer_type == 'AUD' %}
                <div class='question-field'>
                    <p>{{ question.text|truncatechars:70 }}</p>

                    <div class='add-and-delete'>
                        {% if question.scores > 0 %}
                            <div class='score-container'>
                                {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                                <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                            </div>
                        {% endif %}

                        <div class="delete-container" 
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                        </div>
                    </div>
                </div>
            {% else %}
                <div class='question-field'>
                    <p>{{ question.text|truncatechars:70 }}</p>

                    <div class='add-and-delete'>
                        {% if question.scores > 0 %}
                            <div class='score-container'>
                                {% comment %} <p>{{ question.scores }}</p> {% endcomment %}
                                <input type="text" id="questionScore" data-default={{ question.scores }} data-type={{ question.scores_for }} data-ids="{{ question.id }}" value={{ question.scores }}></input>
                            </div>
                        {% endif %}

                        <label><a href="{% url 'tests:add_answers' question.id %}">Додати відповідь</a></label>
                        
                        <div class="delete-container"
                            data-type="question" 
                            data-id="{{ question.id }}" 
                            data-question-type="{{ question.type }}"
                            onclick="openModal(this)">
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання">
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}
        
        <div class='button-container'>
            <a class='save-test-btn' href="{% url 'tests:complete_questions' test_id=test.id %}">Зберегти тест</a>
            <div class="delete-btn">
                <button type="button" class="delete-test-btn" 
                        data-type="test" 
                        data-id="{{ test.id }}" 
                        onclick="openModal(this)">
                    Видалити тест
                </button>
            </div>
    </div>
    <script>
        // Функция для отображения всплывашки
        function showError(messages) {
            const popup = document.getElementById('error-popup');
            popup.innerHTML = messages.join('<br>'); // Устанавливаем текст ошибок
            popup.style.display = 'block'; // Показываем всплывашку

            // Убираем всплывашку через 10 секунд
            setTimeout(() => {
                popup.style.display = 'none';
            }, 10000);
        }

        // Проверяем, есть ли ошибки
        {% if errors %}
            showError({{ errors|safe }});
        {% endif %}
    </script>
    <script src="{% static "js/zero_cutting_scores.js" %}"></script>
    <script src="{% static "js/question_score_fetch.js" %}"></script>
    <script src="{% static "js/question_form_pre_sumbit.js" %}"></script>
    <script src="{% static "js/custom_arrow_number_input.js" %}"></script>
    <script src="{% static "js/copy_site_container.js" %}"></script>
    <script src="{% static "js/scroll_students_container.js" %}"></script>
    <script src="{% static "js/add_question_custom_select_delete_none.js" %}"></script>
    <script src="{% static "js/add_image_or_audio.js" %}"></script>
    <script src="{% static "js/add_students_in_test.js" %}"></script>
    <script src="{% static "js/delete_test.js" %}"></script>
    <script src="{% static "js/hiding_the_answer_type_field.js" %}"></script>
    <script src="{% static "js/delete_window_create_test_view.js" %}"></script>
</body>



{% endblock content %}


