{% extends "base.html" %}
{% load static %}


<head>
    <title>{{ test.name }}</title>
</head>

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

<body>
    <h1>{{ test.name }}</h1>
    <p>{{ test.description }}</p>

    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            <li>
                <strong>
                    {{ question.text }}
                    <a href="{% url 'tests:add_answers' question.id %}">Редактировать вопрос</a>
                </strong>
                {% if question.image %}
                    <div>
                        <img src="{{ question.image.url }}" alt="Question Image">
                    </div>
                {% endif %}
                {% if question.audio %}
                    <div>
                        <audio controls>
                            <source src="{{ question.audio.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                {% endif %}
                <ul>
                    {% for answer in question.answers.all %}
                        <li>
                            {% if answer.is_correct == True %}
                                Верный
                            {% else %}
                                -
                            {% endif %}
                                :
                            {{ answer.text }}
                            
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Добавить ответ к вопросу: {{ question.text }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ answer_form.as_p }}
        
        <button type="submit">Добавить ответ</button>
    </form>
</body>

{% endblock content %}

