{% extends "base.html" %}
{% load static %}


<head>
    <title>{{ test.name }}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"> {% endcomment %}
</head>

{% block content %}


<body>
    <h1>{{ test.name }}</h1>
    <p>{{ test.description }}</p>

    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            <li>
                <strong>
                    {{ question.text }}
                    <a href="{% url 'tests:add_answers' question.id %}">Редактировать вопрос</a>
                </strong>
                {% if question.image %}
                    <div>
                        <img src="{{ question.image.url }}" alt="Question Image">
                    </div>
                {% endif %}
                {% if question.audio %}
                    <div>
                        <audio controls>
                            <source src="{{ question.audio.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                {% endif %}
                <ul>
                    {% for answer in question.answers.all %}
                        <li>
                            {% if answer.is_correct == True %}
                                Верный
                            {% else %}
                                -
                            {% endif %}
                                :
                            {{ answer.text }}
                            
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Добавить ответ к вопросу: {{ question.text }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-md-12 mb-3">
                <label for="id_text" class="form-label">Текст Ответа</label>
                <input type="text" class="form-control" id="id_text"
                name="text"
                placeholder="Введите ответ" value="" required>
            </div>
            
            {% if question.question_type == "INP" %}
                <input type="hidden" 
                name="is_correct" 
                class="form-check-input" 
                id="is_correct" 
                value="True">
                
            {% else %}
                <div class="col-md-12 mb-3">
                    <label for="is_correct" class="form-label">Правильний ?</label>
                    <input type="checkbox" class="form-check-input" id="is_correct"
                    name="is_correct"
                    placeholder="Правильний ответ">
                    {% comment %} {% if form.first_name.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                    {% endif %} {% endcomment %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-dark">Сохранить</button>
    </form>
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ answer_form.as_p }}
        
        <button type="submit">Добавить ответ</button>
    </form> {% endcomment %}
</body>

{% endblock content %}

