{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static "css/add_answers.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/delete_confirm.css" %}">


<body>
    <div id="message-popup" class="message-popup"></div>
    <div class='base-container'>
        <div class='container-header'>
                <p class='category'>Категорія питання: {% if group %}{{ group.name }}{% else %}Без группы{% endif %}</p>
            {% if question.question_type == "IMG" and question.text != "" %}
                <p class='question-text'>{{ question.text }}</p>
            {% else %}
                <p class='question-text'>{{ question.text }}</p>
            {% endif %}
        </div>

        <div class='answers-cotainer'>
            <form id="correctAnswersForm" method="post" action="{% url 'tests:correct_answers' question_id=question.id %}">
                {% csrf_token %}
                <input type="hidden" data-question="{{ question.scores_for }}" id="questionData">
                {% if question.question_type == 'MTCH' %}    
                <div class='delete-and-answers'>

                    {% for pair in question.matching_pairs.all %}
                    <div class='base-matching-container'>
                        <div class='items-container'>
                            <div class='left-item-container'>
                                <label class='left-item-label'>{{ pair.left_item }}</label>
                            </div>
                            <div class='right-item-container'>
                                <label class='right-item-label'>{{ pair.right_item }}</label>
                            </div>
                        </div>
                        
                        <div class="delete-and-score-container">
                            {% if question.scores_for == "SA" %}
                                <div class='score-container'>
                                    <input type="text" id="answerScore" data-type="Matching" data-ids="{{ pair.id }}" value={{ pair.score }}></input>
                                </div>
                            {% endif %}
                            
                            <div class='delete-container'>
                                <img src="{% static "icons/basket.svg" %}" alt="Видалити питання" onclick="openModal('testModal{{ pair.id }}')">
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% for answer in question.answers.all %}               
                    {% if question.answer_type == 'SC' or question.answer_type == 'MC'%}
                    <div class='base-checkbox-container'>
                        <div class="checkbox-answer">
                            <label>
                                <input 
                                    id="answer-{{ answer.id }}" 
                                    type="checkbox" 
                                    name="correct_answers" 
                                    value="{{ answer.id }}" 
                                    {% if answer.is_correct %}checked{% endif %}
                                    class="correct-answer-checkbox"
                                    data-answer-type="{{ question.answer_type }}"
                                    data-question-id="{{ question.id }}">
                                
                                <label class='label-checkbox'>{{ answer.text }}</label>
                            </label>
                        </div>
                    {% else %}
                    <div class='base-input-container'>
                        <div class='input-label'>
                            <label class='input-ans-label'>{{ answer.text }}</label>
                        </div>
                            
                    
                    {% endif %}
                    <div class="delete-and-score-container">
                        {% if question.scores_for == "SA" %}
                            <div class='score-container'>
                                <input type="text" id="answerScore" data-type="Answer" data-ids="{{ answer.id }}" value={{ answer.score }}></input>
                            </div>
                        {% endif %}

                        <div class='delete-container'>
                            <img src="{% static "icons/basket.svg" %}" alt="Видалити питання" onclick="openModal('testModal{{ answer.id }}')">
                        </div>
                    </div>
                        
                </div>
                {% endfor %}
            </form>
            <div class='delete_mathing_modals'>
                {% for pair in question.matching_pairs.all %}
                 <!-- Модальное окно для удаления -->
                 <div id="testModal{{ pair.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('testModal{{ pair.id }}')">&times;</span>
                        <h2>Видалити відподність?</h2>
                        <p>Ви впевненні що бажаєте видалити відповідність? Цю дію неможливо буде відмінити.</p>
                        
                        <form method="post" action="{% url 'tests:delete_matching_pair' pair_id=pair.id %}">
                            {% csrf_token %}
                            <button type="submit" class="confirm-btn">Видалити</button>
                            <button type="button" class="cancel-btn" onclick="closeModal('testModal{{ pair.id }}')">Відмінити</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Переносим модальные окна в отдельный контейнер -->
            <div class="delete-models">
                {% for answer in question.answers.all %}
                <!-- Модальное окно для удаления -->
                <div id="testModal{{ answer.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('testModal{{ answer.id }}')">&times;</span>
                        <h2>Видалити відповідь?</h2>
                        <p>Ви впевненні, що бажаєте видалити відповідь? Цю дію неможливо буде відмінити.</p>
                        
                        <form method="post" action="{% url 'tests:delete_answer' answer.id %}">
                            {% csrf_token %}
                            <button type="submit" class="confirm-btn">Видалити</button>
                            <button type="button" class="cancel-btn" onclick="closeModal('testModal{{ answer.id }}')">Відмінити</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
        <div>
        <form method="post" action="{% url action_url question.id %}" id="addQuestionForm">
            {% csrf_token %}
            <div class="row">          
                {% if question.question_type == "MTCH" %}
                    <div class='matching-form'>
                        {% if question.scores_for == "SA" or question.scores_for == "" %}
                            <div class="custom-number-input">
                                <input name="score" id="id_score" type="number" class="number-input" value="1" required>
                                <div class="arrows">
                                    <button class="arrow up">▲</button>
                                    <button class="arrow down">▼</button>
                                </div>  
                            </div>
                        {% endif %}

                        <div class="matching-answer-input-container">
                            <div class='matching-form-label'>
                                {{ form.left_item }}
                            </div>
                            <div class='matching-form-label'>
                                {{ form.right_item }}
                            </div>
                        </div>
                    </div>
                {% else %}
                        <div class="answer-input-container">
                            {% comment %} <label for="id_text" class="form-label"></label> {% endcomment %}
                            <input type="text" class="form-control" id="id_text"
                            name="text"
                            placeholder="Відповідь ({% if question.answer_type == 'SC' %}Одиночний вибір{% elif question.answer_type == 'MC' %}Множинний вибір{% elif question.answer_type == 'INP' %}Текстова відповідь{% endif %})"
                            value="" 
                            required>

                            {% if question.scores_for == "SA" or question.scores_for == "" %}
                                <div class="custom-number-input">
                                    <input name="score" id="id_score" type="number" class="number-input" value="1" required>
                                    <div class="arrows">
                                        <button class="arrow up">▲</button>
                                        <button class="arrow down">▼</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                {% endif %}

                {% if question.answer_type == "INP" %}
                    <input type="hidden" 
                    name="is_correct" 
                    class="form-check-input" 
                    id="is_correct" 
                    value="True">
                
                {% elif question.question_type == "IMG" %}
                    <input type="hidden" 
                    name="is_correct" 
                    class="form-check-input" 
                    id="is_correct" 
                    value="True">
                    
                {% elif question.question_type == "MTCH" %}
                {% else %}
                    <input type="hidden" 
                    name="is_correct" 
                    class="form-check-input" 
                    id="is_correct" 
                    value="False">
                {% endif %}
            </div>

            <div class='button-container'>
                <button type="submit" class="add-answer-btn">Додати відповідь</button>
                <button type="submit" form="correctAnswersForm" class='save-answers-btn'>Зберегти</button>
            </div>
        </form>
        
        </div>  
    </div>
    <script src="{% static "js/zero_cutting_scores.js" %}"></script>
    <script src="{% static "js/answer_scores_fetch.js" %}"></script>
    <script src="{% static "js/answer_form_modified.js" %}"></script>
    <script src="{% static "js/custom_arrow_number_input.js" %}"></script>
    <script src="{% static "js/selection_limiter.js" %}"></script>
    <!-- JavaScript для управления модальным окном -->
    <script src="{% static "js/open_delete_window.js" %}"></script>
</body>

{% endblock content %}
