{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_tests.css' %}">  
<body>
    
    {% comment %} <div align='center'>
        <div align='center'>
            {% if user.is_admin or user.is_superuser or user.is_staff %}
            <h3><a class="custom-link" href="{% url "tests:tests_for_review" %}">Тести на перевірку</a></h3>
            {% endif %}
        </div>
        
        <div align='center'>    
            {% if user.is_authenticated %}
            <h3><a class="custom-link" href="{% url "tests:create_test" %}">Створити тест</a></h3>
            {% endif %}
        </div>
    </div> {% endcomment %}
    
    
    <div class='my-test-container'>
        <div class='my-test-container-header'>
            <label>Створенні тести</label>
            <a class='test-check' href="{% url "tests:tests_for_review" %}">Тести на перевірку</a>
        </div>

        <div class="tests-sorted-container">
            {% for test in tests %}
            <a href="{% url "tests:add_questions" test_id=test.id %}" class="test-item-link">
                <div class="test-item"
                data-bg="{% if test.image %}{{ test.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}">
                    <div class="test-overlay-header">
                        {{ test.name }}
                    </div>
                    <!-- Нижняя полоса с датами -->
                    <div class="test-overlay-footer">
                        <div class="date-icon">
                            <img src="{% static "icons/calendar.svg" %}" alt="calendar">
                            <span>{{ test.date_in|date:"d.m.Y" }} - {{ test.date_out|date:"d.m.Y" }}</span>
                        </div>
                    </div>
                </div>
            </a>    
            {% endfor %}
        </div>
    </div>
    <script src="{% static "js/image_lazy_loading.js" %}"></script>
</body>
{% endblock content %}


