{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    <div align='left'>
        <button onclick="window.history.back();" aling='left' class="button-back">Назад</button>
    </div>
    
    <head>
        <h1>Створення тесту</h1>
    </head>
    <body>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Створити тест</button>
        </form>
    </body>

{% endblock content %}

