{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/create_test.css" %}">
    
{% comment %} 
    <div align='left'>
        <button onclick="window.history.back();" aling='left' class="button-back">Назад</button>
    </div> {% endcomment %}
    <body>
        <!-- Всплывашка -->
        <div id="error-popup" class="error-popup"></div>
        
        <form method="post" enctype="multipart/form-data" class='custom-form' id='testForm'>
            {% csrf_token %}
            <div class='base-container'>
                    <h2 class='test-header'>Створення тесту</h2>
                <!-- Назва тесту -->
                    <div class="form-group">
                        <input type="text" name="name" id="id_name" class="form-control" placeholder="Назва тесту">
                    </div>

                    <!-- Опис тесту -->
                    <div class="form-group">
                        <textarea name="description" id="id_description" rows="4" class="form-control" placeholder="Опис тесту"></textarea>
                    </div>

                    <!-- Зображення -->
                    <div class="form-group-upload-image">
                        {{ form.image }}

                        <!-- Кастомная кнопка -->
                        <button type="button" id="uploadButton" class="btn-upload">Додати фото</button>

                        <!-- Контейнер для показа имени загруженного файла -->
                        <span id="fileName" class="file-name"></span>
                    </div>

                    <div class='form-group'>
                        <input type="text" name='raw_duration' id='id_raw_duration' placeholder='Тривалість тесту в хвилинах'>
                    </div>

                    <!-- Категорія -->
                    <div class="form-group">
                        {{ form.category }}
                    </div>

                    <!-- Тип перевірки -->
                    <div class="form-group">
                        {{ form.check_type }}
                    </div>
            



                    <!-- Поле для ПК -->
                    
                    <!-- Поле для мобильных -->
                    {% comment %} <div class="date-wrapper mobile-only" style="display: none;">
                        <input type="date" name='date_out' id="date-input-mobile" placeholder="Оберіть дату">
                    </div>
                    
                    <div class="date-wrapper desktop-only">
                        <input type="text" name='date_out' id="date-input-pc" placeholder="Оберіть дату">
                        <button type="button" class="calendar-icon">
                            <img src="{% static 'icons/create_test_calendar.svg' %}" alt="Календар">
                        </button>
                    </div> {% endcomment %}

                    <div class="date-wrapper">
                        <div class='date-wrapper-block'>
                            <label class='date-wrapper-label'>Доступний с</label>
                            {{ form.date_in }}
                        </div>

                        <div class="date-wrapper-block">
                            <label class='date-wrapper-label'>Доступний до</label>
                            {{ form.date_out}}
                        </div>
                        {% comment %} <input type="date" name="date_out" id="date-input" placeholder="Оберіть дату"> {% endcomment %}
                    </div>

                    
                </div>
                <button type="submit" class='submit-btn'>Створити тест</button>
            </form>

        {% comment %} <script>
            document.addEventListener('DOMContentLoaded', function () {
                const uploadButton = document.getElementById('uploadButton');
                const fileInput = document.getElementById('uploadImage');
                const fileNameSpan = document.getElementById('fileName');
            
                // Открытие диалога выбора файла
                uploadButton.addEventListener('click', () => {
                    fileInput.click();
                });
            
                // Изменение текста кнопки и отображение имени файла
                fileInput.addEventListener('change', () => {
                    if (fileInput.files.length > 0) {
                        const fileName = fileInput.files[0].name;
                        uploadButton.textContent = 'Змінити файл';
                        fileNameSpan.textContent = `Завантажено: ${fileName}`;
                    }
                });
            });
            </script>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const isMobile = /Android|iPhone|iPad|iPod/i.test(navigator.userAgent);
                    const dateInput = document.querySelector("#date-input");
                    const customIcon = document.querySelector(".calendar-icon");
            
                    if (isMobile) {
                        // Для мобильных устройств: используем стандартный календарь
                        dateInput.type = "date"; // Меняем тип на date для мобильных устройств
                        dateInput.placeholder = "Оберіть дату"; // Плейсхолдер для мобильных

                        customIcon.style.display = "none";
            
                        customIcon.addEventListener("click", function () {
                            dateInput.click(); // Программно вызываем клик на нативное поле
                        });
                    } else {
                        // Для ПК: инициализируем Flatpickr
                        flatpickr(dateInput, {
                            enableTime: false,
                            dateFormat: "Y-m-d", // Формат, совместимый с Django
                            disableMobile: true, // Отключаем мобильный интерфейс
                        });
            
                        // Обработчик клика на кастомную кнопку
                        customIcon.addEventListener("click", function () {
                            dateInput._flatpickr.open(); // Открываем Flatpickr
                        });
                    }
                });
            </script> {% endcomment %}
            {% comment %} <script src="{% static "js/create_test_date_add.js" %}"></script> {% endcomment %}
            <script src="{% static "js/create_test_add_image.js" %}"></script>
            <script src="{% static "js/date_synchronization.js" %}"></script>
            <script>
                // Функция для отображения всплывашки
                function showError(messages) {
                    const popup = document.getElementById('error-popup');
                    popup.innerHTML = messages.join('<br>'); // Устанавливаем текст ошибок
                    popup.style.display = 'block'; // Показываем всплывашку

                    // Убираем всплывашку через 10 секунд
                    setTimeout(() => {
                        popup.style.display = 'none';
                    }, 10000);
                }

                // Проверяем, есть ли ошибки
                {% if errors %}
                    showError({{ errors|safe }});
                {% endif %}
            </script>
    </body>

{% endblock content %}

