{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/edit_test.css" %}">

<body>
    <div class='main-test-container'>
        <h2>{{ test.name }}</h2>
        
        {% if test.image %}
        <div class='test-image'>
            <img src="{{ test.image.url }}">
        </div>
        {% endif %}
        
        <form method='post' class='form-content' enctype="multipart/form-data" id='testForm'>{% csrf_token %}
            <div class='form-group'>
                {{ form.name }}
            </div>
            
            <div class='form-group'>
                {{ form.description }}
            </div>
            
            <div class='form-group-upload-image'>
                {{ form.image }}
                
                <!-- Кастомная кнопка -->
                <button type="button" id="uploadButton" class="btn-upload">Додати фото</button>
                
                <!-- Контейнер для показа имени загруженного файла -->
                <span id="fileName" class="file-name"></span>
            </div>

            <div class='form-group'>
                {{ form.duration }}
            </div>
            
            <div class='form-group'>
                {{ form.category }}
            </div>
            
            <div class='form-group'>
                {{ form.check_type }}
            </div>
            
            <div class="date-wrapper">
                <div class='date-wrapper-block'>
                    <label class='date-wrapper-label'>Доступний с</label>
                    {{ form.date_in }}
                </div>

                <div class="date-wrapper-block">
                    <label class='date-wrapper-label'>Доступний до</label>
                    {{ form.date_out}}
                </div>
            </div>
            
        </form>
        
        {% for error in form.errors %}
        {{ error }}
        {% endfor %}
    </div>
    <button type='submit' class='save-btn' form='testForm'>Зберегти зміни</button>

    <script src="{% static "js/date_synchronization.js" %}"></script>
    <script src="{% static "js/check_duration_field.js" %}"></script>
    <script src="{% static "js/create_test_add_image.js" %}"></script>    
</body>
{% endblock %}