{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_tests.css' %}">   
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">   

<body>
    <div class='base-container'>
        <div class='test-header'>
            <h2>{{ all_questions.current }}\{{ all_questions.all }}</h2>
           
            <span id="timer"></span>
        </div>

        <div class='test-category'>
            <label>Категорія питання ({% if current_question_group %}{{ current_question_group }}{% else %}Усі{% endif %})</label>
        </div>

        <div class='form-group'>
            <form id="test-form" method="POST" class='test-form' action="{% url 'tests:take_test' test.id %}">
                {% csrf_token %}
                {% for field in form %}
                {% if 'audio_answer_' in field.name %}
                <div class='audio-container'>
                    <p>{{ field.label_tag }}</p>
                    <audio controls id="audio_playback_{{ field.name|cut:'audio_answer_' }}"></audio>
                    <div>
                        <button type="button" onclick="startRecording({{ field.name|cut:'audio_answer_' }})">Почати запис</button>
                        <button type="button" onclick="stopRecording({{ field.name|cut:'audio_answer_' }})" disabled>Зупинити запис</button>
                    </div>
                    <!-- Скрытое поле для сохранения аудиофайла -->
                    {{ field }}
                </div>
                {% elif question.question_type == "MTCH" %}
                    <div class='form-matching'>
                        <div class="matching-container">
                            <div class="left-column">
                                {% if 'matching_left' in field.name %}
                                <div class="left-item" id="left_{{ field.name }}" data-left-item="{{ field.label }}">
                                    {{ field.label }}  <!-- Показываем только текст -->
                                </div>
                                <div id="dropzone_{{ field.name }}" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" data-left-item="{{ field.name }}">
                                    <!-- Скрытое поле для записи ответа -->
                                    <input type="hidden" id="answer_{{ field.name }}" name="answer_{{ field.label }}" value="">
                                </div>
                                {% endif %}
                            </div>
                            
                            <div class="right-column">
                                {% if 'matching_right' in field.name %}
                                <div class="right-item" id="drag_{{ field.name }}" data-right-item="{{ field.label }}" draggable="true" ondragstart="drag(event)">
                                    {{ field.label }}  <!-- Показываем только текст -->
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                {% elif question.question_type == "SC" %}
                <div class="form-radio">
                    <h3>{{ field.label_tag }}</h3>

                 <!-- Радио-кнопки, рендерим через цикл -->
                <div class="radio-answers">
                    {% for radio in field %}
                        <label class="custom-radio" data-value="{{ radio.data.value }}">
                            <!-- Скрытый input, он будет управляться через JS -->
                            {{ radio.tag }} 
                            
                            <!-- Кастомная визуализация радио-кнопки -->
                            <span class="custom-radio-circle"></span>
                            <span class="radio-label">{{ radio.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
                </div>
                {% elif question.question_type == "MC" %}
                    <div class='form-checkbox'>
                        <h3>{{ field.label_tag }}</h3>

                        <div class='checkbox-answers'>
                            {% for choice in field %}
                                <label class="custom-checkbox">
                                    {{ choice.tag }}
                                    <span class="custom-checkbox-box"></span>
                                    {{ choice.choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                {% elif question.question_type == "INP" %}
                    <div class='form-input'>
                        <h3>{{ field.label_tag }}</h3>
                        

                        <div class='input-answer'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    </div>
                {% elif question.question_type == "IMG" %}
                    <div class='form-image'>
                        <div class='question-image-container'>
                            <img src="{{ question.image.url }}">
                        </div>

                        <div class='input-image-answer'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    </div>
                {% elif question.question_type == 'AUD' %}
                    <div class='audion-form'>
                        <div class="question-audio-container">
                            <div class='question-audio' onclick="toggleAudio()">
                                <img src="{% static "icons/play_icon.svg" %}" alt="Play" id="playIcon">
                            </div>
                            <div class='player-section'>
                                <label class='section'>|</label>
                            </div>
                            <!-- Общая длительность аудио -->
                            <span class="duration" id="audioDuration">0:00</span>
                        </div>

                        

                        <!-- Элемент аудио -->
                        <audio id="audioPlayer" src="{{ question.audio.url }}" onloadedmetadata="displayDuration()" ontimeupdate="updateProgress()"></audio>

                        
                        <div class='question-answer-input'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    </div>
                {% else %}
                {% endif %}
                
                
                {% endfor %}
                <input type="hidden" id="remaining_time" name="remaining_time" value="{{ remaining_time }}">
                <button type="submit" class='form-btn'>{{ test_btn.text_btn }}</button>
            </form>
        </div>
        
    </div>
    
    <script>
        // Получаем элементы
        const audioPlayer = document.getElementById('audioPlayer');
        const playIcon = document.getElementById('playIcon');
        const playerSection = document.querySelector('.player-section');
    
        // Количество делений
        const totalSections = 19;
    
        // Создаем деления с разной высотой
        function createSections() {
            for (let i = 0; i < totalSections; i++) {
                const section = document.createElement('label');
                section.classList.add('section');
                section.style.height = `${Math.random() * 30 + 10}px`; // Рандомная высота от 10px до 40px
                section.style.backgroundColor = '#4a4956'; // Начальный цвет для незаполненных делений
                playerSection.appendChild(section);
            }
        }
    
        // Обновляем прогресс делений
        function updateProgress() {
            const progress = (audioPlayer.currentTime / audioPlayer.duration) * totalSections;
            const sections = document.querySelectorAll('.section');
    
            sections.forEach((section, index) => {
                if (index < Math.floor(progress)) {
                    section.style.backgroundColor = '#FFFFFF'; // Заполненные деления белые
                } else {
                    section.style.backgroundColor = '#4a4956'; // Незаполненные деления серые
                }
            });
    
            // Обработка последнего деления
            if (audioPlayer.currentTime >= audioPlayer.duration) {
                sections.forEach(section => section.style.backgroundColor = '#FFFFFF'); // Все деления белые при завершении
            }
        }
    
        // Воспроизведение и пауза аудио
        function toggleAudio() {
            if (audioPlayer.paused) {
                audioPlayer.play();
                playIcon.src = "{% static 'icons/pause_icon.png' %}";
            } else {
                audioPlayer.pause();
                playIcon.src = "{% static 'icons/play_icon.svg' %}";
            }
        }
    
        // Отображение продолжительности аудио
        function displayDuration() {
            const duration = audioPlayer.duration;
            document.getElementById('audioDuration').textContent = formatTime(duration);
        }
    
        // Форматирование времени
        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const secs = Math.floor(seconds % 60).toString().padStart(2, '0');
            return `${minutes}:${secs}`;
        }
    
        // Создаем деления при загрузке страницы
        createSections();
    
        // Обновление прогресса при проигрывании аудио
        audioPlayer.addEventListener('timeupdate', updateProgress);
    
        // Полное заполнение делений и обновление иконки после завершения воспроизведения
        audioPlayer.addEventListener('ended', () => {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => section.style.backgroundColor = '#FFFFFF'); // Все деления белые
            playIcon.src = "{% static 'icons/play_icon.svg' %}"; // Возвращаем иконку в состояние "play"
        });
    </script>
    <script src="{% static 'js/radio_select.js' %}"></script>    
    <script src="{% static 'js/drag_and_drop.js' %}"></script>    
    <script src="{% static 'js/answer_recorder.js' %}"></script>    
    <script src="{% static 'js/test_timer.js' %}"></script>    
</body>
{% endblock %}






