{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_tests.css' %}">   
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">   
</head>

<body>
    <div class='base-container'>
        <div class='test-header'>
            <h2>{{ all_questions.current }}/{{ all_questions.all }}</h2>
           
            <span id="timer"></span>
        </div>

        <div class='test-category'>
            <label>Категорія питання ({% if current_question_group %}{{ current_question_group.name }}{% else %}Усі{% endif %})</label>
        </div>

        <div class='form-group'>
            <form id="test-form" method="POST" class='test-form' action="{% url 'tests:take_test' test.id %}">
                {% csrf_token %}
                {% for field in form %}
                {% if 'audio_answer_' in field.name %}
                <div class='audio-container'>
                    {% if question.text %}
                        <h2>{{ field.label_tag }}</h2>
                    {% endif %}

                    {% if question.image %}
                        <div class='question-image-container'>
                            <img src="{{ question.image.url }}">
                        </div>
                    {% endif %}

                    {% if question.audio %}
                        <div class="question-audio-container">
                            <div class='question-audio' onclick="toggleAudio()">
                                <img src="{% static "icons/play_icon.svg" %}" alt="Play" id="playIcon">
                            </div>
                            {% comment %} <div class='player-section'>
                                <label class='section'>|</label>
                            </div> {% endcomment %}
                            <!-- Общая длительность аудио -->
                            <span class="duration" id="audioDuration">0:00</span>

                             <!-- Элемент аудио --> 
                            </div>
                            <audio id="audioPlayer" src="{{ question.audio.url }}" onloadedmetadata="displayDuration()" ontimeupdate="updateProgress()"></audio>
                    {% endif %}

                    <div class='audio-base-container'>
                        <img src="{% static "icons/microphone-audio-answer.svg" %}" 
                             alt="Record" 
                             id="microphoneIcon" 
                             onclick="toggleRecording('{{ field.name|cut:'audio_answer_' }}')">
                    </div>

                    {% comment %} <audio controls id="audio_playback_{{ field.name|cut:'audio_answer_' }}"></audio> {% endcomment %}
                    {% comment %} <div>
                        <button type="button" onclick="startRecording({{ field.name|cut:'audio_answer_' }})">Почати запис</button>
                        <button type="button" onclick="stopRecording({{ field.name|cut:'audio_answer_' }})" disabled>Зупинити запис</button>
                    </div> {% endcomment %}
                    <!-- Скрытое поле для сохранения аудиофайла -->

                    {% comment %} <audio controls id="audio_playback_{{ field.name|cut:'audio_answer_' }}"></audio> {% endcomment %}


                    {{ field }}
                </div>
                {% elif question.question_type == 'TXT' %}
                    <div class='form-txt-and-img'>
                        {% if question.text %}
                            <h3>{{ field.label_tag }}</h3>
                        {% endif %}

                        {% if question.image %}
                                <div class='question-image-container'>
                                    <img src="{{ question.image.url }}">
                                </div>
                        {% endif %}

                        {% if question.answer_type == 'SC' %}
                            <!-- Радио-кнопки, рендерим через цикл -->
                            <div class="radio-answers">
                                {% for radio in field %}
                                    <label class="custom-radio" data-value="{{ radio.data.value }}">
                                        <!-- Скрытый input, он будет управляться через JS -->
                                        {{ radio.tag }} 
                                        
                                        <!-- Кастомная визуализация радио-кнопки -->
                                        <span class="custom-radio-circle"></span>
                                        <span class="radio-label">{{ radio.choice_label }}</span>
                                    </label>
                                {% endfor %}
                            </div>

                        {% elif question.answer_type == 'MC' %}
                            <div class='checkbox-answers'>
                                {% for choice in field %}
                                    <label class="custom-checkbox">
                                        {{ choice.tag }}
                                        <span class="custom-checkbox-box"></span>
                                        {{ choice.choice_label }}
                                    </label>
                                {% endfor %}
                            </div>

                        {% elif question.answer_type == 'INP' %}
                            <div class='input-answer'>
                                {{ field|addattr:"placeholder:input" }}
                            </div>
                        {% endif %}
                    </div>

                {% elif question.question_type == 'IMG' %}
                <div class='form-txt-and-img'>
                    {% if question.text %}
                        <h3>{{ field.label_tag }}</h3>
                    {% endif %}

                    {% if question.image %}
                            <div class='question-image-container'>
                                <img src="{{ question.image.url }}">
                            </div>
                    {% endif %}

                    {% if question.answer_type == 'SC' %}
                        <!-- Радио-кнопки, рендерим через цикл -->
                        <div class="radio-answers">
                            {% for radio in field %}
                                <label class="custom-radio" data-value="{{ radio.data.value }}">
                                    <!-- Скрытый input, он будет управляться через JS -->
                                    {{ radio.tag }} 
                                    
                                    <!-- Кастомная визуализация радио-кнопки -->
                                    <span class="custom-radio-circle"></span>
                                    <span class="radio-label">{{ radio.choice_label }}</span>
                                </label>
                            {% endfor %}
                        </div>

                    {% elif question.answer_type == 'MC' %}
                        <div class='checkbox-answers'>
                            {% for choice in field %}
                                <label class="custom-checkbox">
                                    {{ choice.tag }}
                                    <span class="custom-checkbox-box"></span>
                                    {{ choice.choice_label }}
                                </label>
                            {% endfor %}
                        </div>

                    {% elif question.answer_type == 'INP' %}
                        <div class='input-answer'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    {% endif %}
                </div>
                {% comment %} {% elif question.question_type == "SC" %}
                <div class="form-radio">
                    <h3>{{ field.label_tag }}</h3>

                 <!-- Радио-кнопки, рендерим через цикл -->
                <div class="radio-answers">
                    {% for radio in field %}
                        <label class="custom-radio" data-value="{{ radio.data.value }}">
                            <!-- Скрытый input, он будет управляться через JS -->
                            {{ radio.tag }} 
                            
                            <!-- Кастомная визуализация радио-кнопки -->
                            <span class="custom-radio-circle"></span>
                            <span class="radio-label">{{ radio.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
                </div>
                {% elif question.question_type == "MC" %}
                    <div class='form-checkbox'>
                        <h3>{{ field.label_tag }}</h3>

                        <div class='checkbox-answers'>
                            {% for choice in field %}
                                <label class="custom-checkbox">
                                    {{ choice.tag }}
                                    <span class="custom-checkbox-box"></span>
                                    {{ choice.choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                {% elif question.question_type == "INP" %}
                    <div class='form-input'>
                        <h3>{{ field.label_tag }}</h3>
                        

                        <div class='input-answer'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    </div>
                {% elif question.question_type == "IMG" %}
                    <div class='form-image'>
                        <div class='question-image-container'>
                            <img src="{{ question.image.url }}">
                        </div>

                        <div class='input-image-answer'>
                            {{ field|addattr:"placeholder:input" }}
                        </div>
                    </div> {% endcomment %}
                {% elif question.question_type == 'AUD' %}
                    <div class='audion-form'>
                        <h3 class="audio-label-question">{{ field.label_tag }}</h3>
                        
                        <div class="question-audio-container">
                            <div class='question-audio' onclick="toggleAudio()">
                                <img src="{% static "icons/play_icon.svg" %}" alt="Play" id="playIcon">
                            </div>
                            {% comment %} <div class='player-section'>
                                <label class='section'>|</label>
                            </div> {% endcomment %}
                            <!-- Общая длительность аудио -->
                            <span class="duration" id="audioDuration">0:00</span>
                        </div>

                        

                        <!-- Элемент аудио -->
                        {% if question.audio %}
                            <audio id="audioPlayer" src="{{ question.audio.url }}" onloadedmetadata="displayDuration()" ontimeupdate="updateProgress()"></audio>
                        {% endif %}

                        
                        {% if question.answer_type == 'SC' %}
                        <!-- Радио-кнопки, рендерим через цикл -->
                        <div class="radio-answers">
                            {% for radio in field %}
                                <label class="custom-radio" data-value="{{ radio.data.value }}">
                                    <!-- Скрытый input, он будет управляться через JS -->
                                    {{ radio.tag }} 
                                    
                                    <!-- Кастомная визуализация радио-кнопки -->
                                    <span class="custom-radio-circle"></span>
                                    <span class="radio-label">{{ radio.choice_label }}</span>
                                </label>
                            {% endfor %}
                        </div>

                        {% elif question.answer_type == 'MC' %}
                            <div class='checkbox-answers'>
                                {% for choice in field %}
                                    <label class="custom-checkbox">
                                        {{ choice.tag }}
                                        <span class="custom-checkbox-box"></span>
                                        {{ choice.choice_label }}
                                    </label>
                                {% endfor %}
                            </div>

                        {% elif question.answer_type == 'INP' %}
                            <div class='input-answer'>
                                {{ field|addattr:"placeholder:input" }}
                            </div>
                        {% endif %}
                        </div>
                {% else %}
                {% endif %}  
                {% endfor %}
                
                {% if question.question_type == "MTCH" %}
                    <div class='form-matching'>
                        {% if question.text %}
                            <div class="matching-question-text">
                                <h3>{{ question.text }}</h3>
                            </div>
                        {% endif %}

                        <div class="matching-container">
                            <div class='left-items-container'>
                                {% for field in form %}
                                {% if 'matching_left' in field.name %}
                                <div class="left-column">
                                    <div class="left-item" id="left_{{ field.name }}" data-left-item="{{ field.label }}">
                                        <label>{{ field.label }}</label>  <!-- Показываем только текст -->

                                        <!-- Добавляем dropzone справа от текста, чтобы он не заменял содержимое -->
                                        <div id="dropzone_{{ field.name }}" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" data-left-item="{{ field.name }}">
                                            <input type="hidden" id="answer_{{ field.name }}" name="answer_{{ field.label }}" value="">
                                        </div>
                                        
                                    </div>
                                    {% comment %} <div id="dropzone_{{ field.name }}" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" data-left-item="{{ field.name }}">
                                        <!-- Скрытое поле для записи ответа -->
                                        <input type="hidden" id="answer_{{ field.name }}" name="answer_{{ field.label }}" value="">
                                    </div> {% endcomment %}
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            
                            <div class='right-items-container'>  
                                {% for field in form %}
                                {% if 'matching_right' in field.name %}
                                <div class="right-column" id="right-column-{{ forloop.counter }}">
                                    <div class="right-item" id="drag_{{ field.name }}" 
                                        data-right-item="{{ field.label }}" 
                                        data-original-parent="right-column-{{ forloop.counter }}"  
                                        draggable="true" 
                                        ondragstart="drag(event)">
                                        <label>{{ field.label }}</label>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                    
                    <input type="hidden" id="remaining_time" name="remaining_time" value="{{ remaining_time }}">
                    <button type="submit" class='form-btn'>{{ test_btn.text_btn }}</button>
                </form>
        </div>
        
    </div>
    <script>
       // Получаем элементы
       const durationLabel = document.getElementById("audioDuration");
       const audioPlayer = document.getElementById("audioPlayer");
       const playIcon = document.getElementById("playIcon");

       // Воспроизведение и пауза аудио
       function toggleAudio() {
           if (audioPlayer.paused) {
               audioPlayer.play();
               playIcon.src = "{% static 'icons/pause_icon.svg' %}";
           } else {
               audioPlayer.pause();
               playIcon.src = "{% static 'icons/play_icon.svg' %}";
           }
       }

       // Отображение продолжительности аудио
       function displayDuration() {
           const duration = audioPlayer.duration;
           if (isFinite(duration) && duration > 0) { // Проверка, что длительность корректна
               durationLabel.textContent = formatTime(duration);
           } else {
               durationLabel.textContent = "0:00";
           }
       }

       // Форматирование времени
       function formatTime(seconds) {
           if (!isFinite(seconds)) return "0:00"; // Проверка на корректное значение
           const minutes = Math.floor(seconds / 60);
           const secs = Math.floor(seconds % 60).toString().padStart(2, "0");
           return `${minutes}:${secs}`;
       }

       // Полное заполнение делений и обновление иконки после завершения воспроизведения
       audioPlayer.addEventListener("ended", () => {
           playIcon.src = "{% static 'icons/play_icon.svg' %}"; // Возвращаем иконку в состояние "play"
       });

       // Установка длительности после загрузки метаданных аудио
       audioPlayer.addEventListener("loadedmetadata", displayDuration);
    </script>
    <script src="{% static "js/recorder.js" %}"></script>
    <script src="{% static 'js/radio_select.js' %}"></script>    
    <script src="{% static 'js/drag_and_drop.js' %}"></script>    
    <script src="{% static 'js/answer_recorder.js' %}"></script>
    <script src="{% static 'js/test_timer.js' %}"></script>    
</body>
{% endblock %}






