{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %} <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}"> {% endcomment %}
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">  
<link rel="stylesheet" type="text/css" href="{% static 'css/rating.css' %}">  

<body>
    
    <div class="group-container">
        {% if group %}
            <h2>{{ group }} (Рейтинг)</h2>
        {% else %}
            <h2>Без групи (Рейтинг)</h2>
        {% endif %}

        <div class="tests-ratings-container">
            {% for test in tests %}
            <a href="{% url "tests:rating_test" test_id=test.id %}" class="test-item-link">
                <div class="test-item"
                data-bg="{% if test.image %}{{ test.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}">
                    <div class="test-overlay-header">
                        {{ test.name }}
                    </div>
                    <!-- Нижняя полоса с датами -->
                    <div class="test-overlay-footer">
                        <div class="date-icon">
                            <img src="{% static "icons/calendar.svg" %}" alt="calendar">
                            <span>{{ test.date_in|date:"d.m.Y" }} - {{ test.date_out|date:"d.m.Y" }}</span>
                        </div>
                    </div>
                </div>
            </a>    
            {% endfor %}
        </div>
    </div>
    <script src="{% static "js/image_lazy_loading.js" %}"></script>
</body>
    
{% endblock %}
