{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/test_preview.css" %}">

<body>
    {% load timedelta_filters %}
    <div class='main-container'>
        <div class="leaderboard-header">
            <a href="javascript:void(0);" onclick="window.history.back();" class="back-icon">
                <img src="{% static 'icons/back_arrow.svg' %}" alt="Назад">
            </a>
            <h2>{{ test }}({{ test.category }})</h2>
        </div>

        <div class='test-preview-image'>
            <img src="{{ test.image.url }}" >
        </div>

        <div class='test-text-container'>
            <p class="test-description">Опис:&nbsp;&nbsp;{{ test.description }}</p>
            <p class="test-duration">Час проходження: {{ test.duration|format_duration_minutes }}</p>
        </div>

        {% if test_results %}
            <button class="no-active-test-btn" disabled>Розпочати тестування</button>
            <div class='user-test-result'>
                <label class='test-result-text'>Ваш результат:</label>
                <label class='score-and-time'>{{ test_results.score|floatformat:0 }}% | {{ test_results.duration|format_duration }}</label>
            </div>
        {% elif test_review %}
            
        {% else %}
            <button class="start-test-btn" id="start-test">Розпочати тестування</button>
        {% endif %}
    </div>

    <script>
        document.getElementById('start-test').onclick = function() {
            window.location.href = "{% url 'tests:take_test' test.id %}";
        };
    </script>
</body>
{% endblock content%}
