{% extends "base.html" %}
{% load static %}

{% block content %}
<div align='left'>
    <button onclick="window.history.back();" aling='left' class="button-back">Назад</button>
</div>

<h2>Пройшли тест</h2>
{% for item in user_complete_test %}

        <div>
            {{ item.user }}
            {{ item.score }}%
        </div>
{% endfor %}

 <h2>На перевірку</h2>
 {% for item in user_reviews %}
        <div>
            {{ item.user }}
            <a href="{% url "tests:take_test_review" user_id=item.user.id test_id=item.test.id %}">Перевірити</a>
        </div>
 {% endfor %}


 <h2>Ще не пройшли тест</h2>
 {% for use in user_not_reviews %}
    <li>{{ use }} </li>
 {% endfor %}
 
{% endblock %}