body {
    background-color: #2B2738;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.05);
    height: 76px;
    border: none;
}

.hidden {
    display: none;
}

.open{
    display: flex !important;
}

.nav-panel {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-panel ul {
    width: 100%;
    gap: 38px;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    white-space: nowrap; /* Отключает перенос строк */
}

.nav-panel li {
    display: flex;
    align-items: center;
    padding: 0 10px; /* Дополнительные отступы для удобства */
}



.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #ffff;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffff;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }

/* Анимация для иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);

}

@media (max-width: 1200px) {
    .burger{ display: flex;}

    .nav-panel{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #2B2738;
        animation: burgerAnimation 0.4s;
    }

    .nav-panel ul{
        flex-direction: column;
    }

    .nav-panel h3{
        font-size: 30px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0 }
    to {opacity: 1 }
}



.name-site {
    height: 100%;
    display: flex; /* Flexbox для горизонтального выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    margin: 0;
    padding-right: 47vw;
    padding-left: 75px;
}

@media (max-width: 1900px) {
    .name-site {
        padding-right: 30vw;
    }
}

@media (max-width: 1550px) {
    .name-site {
        padding-right: 20vw;
    }
}

.name-site img {
    width: 30px; /* Ширина изображения */
    height: 30px; /* Высота изображения */
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.name-site a{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.4px;
    margin: 0;
}

.name-site h3{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.4px;
    padding-right: min(5px, 0.5%);
    margin: 0;
}

/* Навигационные ссылки */
.nav-links {
    height: 100%;
    display: flex;
    color: #ffffff;
    gap: auto; /* Отступ между ссылками */
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    
}


@media (max-width: 450px) {
    .nav-links {
        padding-right: 15px;
    }

    .name-site {
        padding-left: 15px;
    }
}

/* Стили для ссылок */
a {
    color: inherit;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

/* a:hover {
    color: #7260F5;
} */

/* Стили для кнопок */
button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    color: #ffffff;
}

button:active {
    background-color: #0056b3;
    color: #ffffff;
}

/* Кастомные стили для ссылок */
.custom-link {
    color: #ffffff;
    text-decoration: none;
}

.custom-link:hover {
    color: #7260F5;
    text-decoration: none;
}

/* Стили для активной вкладки */
.active {
    color: #7260F5; /* Например, сделаем цвет активной ссылки светло-фиолетовым */
    /* border-bottom: 2px solid #e0b3fd; */
}

/* Можно добавить небольшую анимацию для плавного перехода */
.active {
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Кастомные кнопки */
.custom-button {
    border: none;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #0056b3;
}

/* Глобально: уберём любые нестандартные отступы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Это решает проблему с padding и border */
}

/* Контейнер для тестов */
.test-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr)); /* Размещаем тесты по сетке */
    gap: auto;
    justify-content: center; /* Центрируем тесты в контейнере */
}

/* Ссылка на тест */
.test-item-link {
    display: block;
    width: 286px;
    height: 184px;
    text-decoration: none;
    color: inherit;
}

/* Контейнер для каждого теста */
.test-item {
    position: relative;
    background-size: cover;  /* Убедимся, что изображение занимает весь контейнер */
    background-position: center;
    background-color: black;
    width: 100%;
    height: 100%; /* 100% от высоты родителя (184px) */
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}


.test-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный слой */
    z-index: 1; /* Устанавливаем поверх фоновой картинки, но ниже текста */
}

.test-overlay {
    position: relative;
    z-index: 2; /* Устанавливаем поверх полупрозрачного слоя */
}

/* Верхний заголовок с названием теста */
.test-overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0); /* Полупрозрачный фон */
    color: #fff;
    padding: 5px 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    border-radius: 8px 8px 0 0; /* Закругляем верхний угол */
}

/* Нижняя полоса с датами */
.test-overlay-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0); /* Полупрозрачный фон */
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px; /* Закругляем нижний угол */
}

/* Иконка календаря */
.test-overlay-footer .date-icon {
    margin-right: 5px;
}

.date-icon img{
    height: 24px;
    width: 24px;
}

.date-icon span {
    font-size: 18px; /* Размер текста */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Roboto;
    color: #ffffff; /* Белый текст */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    padding-left: 5px;
    position: relative; /* Устанавливаем относительное позиционирование */
    top: -5px; /* Смещаем элемент вверх на 5px */
}

.test-overlay-header, .test-overlay-footer {
    z-index: 3; /* Эти контейнеры остаются выше затемняющего слоя */
}

/* Анимация на hover */
.test-item-link:hover .test-item {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




/* Контейнер с фиксированным размером */
.fixed-container {
    width: 450px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Выпадающее меню */
.dropbtn {
    background-color: #eedca2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f0c26c;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Стиль кнопки назад */
.button-back {
    color: #333;
    background-color: #42b142;
    height: 30px; /* Исправил на корректные единицы измерения */
    width: 40px;
}

.create-test-button {
    max-height: 35px;
    display: inline-flex;
    align-items: center;
    padding: 7px 12px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #7260F5; /* Синий текст */
    background-color: rgba(255, 255, 255, 0.05); /* Темный фон */
    border: 1.5px solid #7260F5; /* Синяя обводка */
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.7s, color 0.3s;
    white-space: nowrap; /* Предотвращает перенос текста */
}

.create-test-button .icon{
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    font-size: 24px; /* Иконка чуть больше текста */
}

.create-test-button:hover {
    color: rgb(255, 255, 255);
    border-color: #ffffff;
}

.create {
    background-color: #ffffff;
}