/* Стили модального окна */

.delete-btn{
    color: #ffffff;
}

/* Стиль для модального окна */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Фон с прозрачностью */
    overflow: auto; /* Включаем прокрутку для длинного контента */
    opacity: 0; /* Начальное состояние - невидимое */
    transform: translateY(-20px); /* Начальное смещение */
    transition: opacity 0.4s ease, transform 0.4s ease;
    visibility: hidden; /* Скрываем элемент */
    pointer-events: none; /* Отключаем возможность кликов, когда окно скрыто */
}

/* Содержимое модального окна */
.modal-content {
    background-color: #2B2738;
    color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2{
    margin: 10px 0px;
}

.modal-content p {
    margin: 10px 0px;
}

/* Видимое модальное окно */
.modal.show {
    opacity: 1; /* Когда окно становится видимым */
    transform: translateY(0); /* Убираем смещение */
    visibility: visible; /* Делаем элемент видимым */
    pointer-events: all; /* Включаем клики */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.confirm-btn, .cancel-btn {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #d9534f;
}

.confirm-btn:hover {
    background-color: #c9302c;
}

.cancel-btn {
    background-color: #5bc0de;
}

.cancel-btn:hover {
    background-color: #31b0d5;
}