/* Контейнер для группы тестов */
.test-group-container {
    max-width: calc(100% - 160px); /* Ограничиваем ширину с учетом отступов */
    margin: 0 auto; /* Центрируем блок */
    padding-top: 80px;
    padding-bottom: 60px;
}

.test-group {
    background-color: #2B2738;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Заголовок группы */
.group-header {
    background-color: #3A354A;
    color: white;
    padding: 24px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.group-header h3{
    font-size: 24px;
    margin: 0%;
}

.arrow {
    font-size: 18px;
}

/* Содержимое группы (скрыто по умолчанию) */
.group-content {
    display: none;
    background-color: #3A354A;
    padding-top: 60px;
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 24px;
}

.tests {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, max-content)); /* Определяем фиксированную ширину в 286px для тестов */
    gap: 40px 20px; /* 40px между строками, 20px между колонками */
    justify-content: start; /* Выравнивание элементов по левому краю */
    padding: 0 20px; /* Отступы по краям, чтобы первый и последний тест имели отступы слева и справа */
    margin-bottom: 60px;
}

