/* Контейнер для группы тестов */
.test-group-container {
    max-width: calc(100% - 160px); /* Ограничиваем ширину с учетом отступов */
    margin: 0 auto; /* Центрируем блок */
    padding-top: 80px;
    padding-bottom: 60px;
}

.test-group {
    background-color: #2B2738;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* Заголовок группы */
.group-header {
    background-color: #3A354A;
    color: white;
    padding: 24px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.group-header h3{
    font-size: 24px;
    margin: 0%;
}

.arrow {
    font-size: 18px;
}

/* Содержимое группы (скрыто по умолчанию) */
.group-content {
    display: none;
    background-color: #3A354A;
    padding-top: 10px;
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 24px;
}

.tests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr)); /* Задаём колонки с фиксированной минимальной шириной 286px */
    gap: 40px 20px; /* 40px между строками, 20px между колонками */
    margin: 0 20px;
}

/* .test-item {
    background-color: #5C5470;
    color: white;
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
} */
