{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}


{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>LOGIN</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>


<body>
    <div class="main-container">

            <!-- Левая часть: форма -->
            <div class="form-section">
                <form action="{% url "users:login" %}" method="post" class="custom-form">
                    {% csrf_token %}
                    <h1>Вхід в акаунт</h1>

                    {% if request.GET.next %}
                        <input type="hidden" name='next' value={{ request.GET.next }}>
                    {% endif %}

                    <div class="form-group">
                        <input type="email" class="form-control" name="email"  value="{% if form.email.value %}{{ form.email.value }}{% endif %}" 
                        id="email" placeholder="Електронна пошта" required>
                    </div>

                    {% comment %} <div class="form-group">
                        <input type="text" class="form-control" name="username"  value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                        id="username" placeholder="Введите ваше имя пользователя">
                    </div> {% endcomment %}

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="id_password1" placeholder="Введить свій пароль" required >
                        <img src="{% static 'icons/mdi_eye.svg' %}" class="toggle-password" id="eyeicon" 
                             data-eye-open="{% static 'icons/mdi_eye.svg' %}" 
                             data-eye-closed="{% static 'icons/mdi_eye-off.svg' %}">
                        {% comment %} <img src="{% static "media/pass-icon.png" %}" onclick="pass()" class='pass-icon'> {% endcomment %}
                    </div>

                    <a href="" class="password-link">Забули пароль ?</a>

                    <button type="submit" class="submit-btn">Увійти</button> 

                    <p class="login-prompt">Немає облікового запису ? <a href="{% url 'users:registration' %}" class="login-link">Зареєструватися</a></p>
                </form>
            </div>

                <div class="image-section">
                    <!-- Место для изображения, его можно будет заменить -->
                    <img src="{% static "media/registration.svg" %}" alt="Placeholder Image">
                </div>        
    </div>

    <script src="{% static 'js/togglePassword.js' %}"></script>
</body>            
                
            {% comment %} </div>
        </div>
    </div>
</div> {% endcomment %}


{% endblock %}

