{% load static %}
<link rel="stylesheet" href="{% static "css/password_reset_confirm.css" %}">

<body>
    <!-- Блок для отображения уведомлений -->
    <div id="error-message" style="display: none; color: white; background-color: red; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        <span id="error-text"></span>
    </div>
    
    <div class='base-container'>
        <!-- templates/registration/password_reset_confirm.html (или другой шаблон для формы смены пароля) -->
        <h2>Створіть новий пароль</h2>


        <form method="post" novalidate class='form-container' id="password-form">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}<br>
            {{ form.new_password1 }}
            <!-- Изменяем отображение подсказок -->
            {% if form.new_password1.help_text %}
                <div class="password-help">
                    {{ form.new_password1.help_text|safe }}
                </div>
            {% endif %}

            {{ form.new_password2.label_tag }}<br>
            {{ form.new_password2 }}<br>
            <button type="submit" class="btn btn-primary">Зберегти пароль</button>
        </form>
    </div>

    <script>
        document.getElementById('password-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Предотвращаем отправку формы для проверки
        
            const password1 = document.getElementsByName('new_password1')[0].value;
            const password2 = document.getElementsByName('new_password2')[0].value;
            let errorMessage = '';
        
            // Проверка: пароли совпадают
            if (password1 !== password2) {
                errorMessage = 'Паролі не співпадають.';
            }
            // Проверка: длина пароля (например, минимум 8 символов)
            else if (password1.length < 8) {
                errorMessage = 'Пароль повинент бути не короче ніж 8 символів.';
            }
            
            // Если есть ошибка, показываем уведомление
            if (errorMessage) {
                const errorDiv = document.getElementById('error-message');
                const errorText = document.getElementById('error-text');
                errorText.textContent = errorMessage;
                errorDiv.style.display = 'block';
            } else {
                // Отправляем форму, если ошибок нет
                this.submit();
            }
        });
    </script>
</body>