{% extends "base.html" %}
{% load static %}



{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <title>Профіль</title>
</head>

<body>
    <div id='notification'>Фото успішно збережено!</div>
                    {% comment %} <h3><a class="custom-link" href="{% url "users:logout" %}">Вийти</a></h3> {% endcomment %}

                    <div class="profile-container">
                        <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data" class='custom-form'>
                            {% csrf_token %}
                            <div class="row">
                                <h2>Персональні дані</h2>

                                <div class="profile-avatar-container">
                                    {% if user.image %}
                                    <img id="profile-image" src="{{ user.image.url }}" alt="Аватар пользователя" class="profile-avatar">
                                    {% else %}
                                    <img id="profile-image" src="{% static 'default_image/Vector.png' %}" alt="Аватар пользователя" class="profile-avatar">
                                    {% endif %}
                                
                                    <!-- Иконка для загрузки фото -->
                                    <label for="id_image" class="upload-icon" 
                                        data-upload-url="{% url 'users:profile_image_upload' %}"
                                        data-csrf-token="{{ csrf_token }}">
                                        <img src="{% static 'icons/camera_icon.svg' %}" alt="Upload">
                                    </label>
                                    
                                    <!-- Поле загрузки файла -->
                                    <input type="file" id="id_image" name="image" accept="image/*" onchange="uploadImage(this)">
                                </div>

                                <label class="form-label">Ім’я та прізвище</label>
                                <div class="form-row">

                                    <input type="text" class="form-control" id="id_first_name"
                                    name="first_name"
                                    placeholder="..." value="{{ form.first_name.value }}" readonly>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                    {% endif %}

                                    <input type="text" class="form-control" id="id_last_name"
                                    name="last_name"
                                    placeholder="..." value="{{ form.last_name.value }}" readonly>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                    {% endif %}
                                </div>

                                <label for="id_email" class="form-label">Пошта</label>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="id_email"
                                    name="email"
                                    placeholder="..." value="{{ form.email.value }}"
                                    readonly>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
{% comment %} 
                                <label for="id_password" class="form-label">Пароль</label>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="id_password"
                                    name="password"
                                    placeholder="Введите ваш email *youremail@example.com" value="{{ form.password.value }}"
                                    readonly>
                                    {% if form.password.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.password.errors }}</div>
                                    {% endif %}
                                </div> {% endcomment %}


                                {% comment %} <button class='password-button'>Змінити парроль</button>

                                <button id="logout-button" class='logout-button'>Вийти з аккаунту</button> {% endcomment %}

                                <div class='button-container'>
                                    <button id='reset-password-button'class='password-button'  data-url="{% url 'users:reset_password' %}">Змінити пароль</button>

                                    <button id="logout-button" class='logout-button' data-url="{% url 'users:logout' %}">Вийти з акаунту</button>
                                </div>
                            </div>
                            {% comment %} <button type="submit" class="btn btn-dark">Сохранить</button> {% endcomment %}
                        </form>
                    </div>
                    
                    {% comment  %} Отправка формы {% endcomment %}
                    <script src="{% static "js/image_upload.js" %}"></script>
                        
                    {% comment  %} Кнопка выхода {% endcomment %}
                    <script src="{% static "js/change_pass_and_logout.js" %}"></script>
                </body>
                    {% endblock content %}
                    
                    
                    