{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>


<!-- Контент на странице -->
<body>
    <div class="main-container">

            <!-- Левая часть: форма -->
            <div class="form-section">
                
                <form action="{% url "users:registration" %}" method='post' class="custom-form">
                    {% csrf_token %}
                    <h1>Створення акаунту</h1>
                    
                    
                    <div class="form-row">
                        <input type="text" id="id_first_name" name='first_name'
                        placeholder="Введите ваше имя" 
                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                        
                        <input type="text" id="id_last_name" name='last_name'
                        placeholder="Введите вашу фамилию" 
                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="text" id="id_username" name="username"
                        placeholder="Введите ваше имя пользователя"
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}">               
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="email" id="id_email" name="email"
                        placeholder="Введите ваш email"
                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="password" id="id_password1" name="password1"
                        placeholder="Введите пароль"
                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">                
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="password" id="id_password2" name="password2"
                        placeholder="Подтвердите пароль"
                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
                    </div>
                    
                    
                    <button type="submit" class="submit-btn">Зарегистрироваться</button>

                    <p class="login-prompt">Вже є акаунт ? <a href="{% url 'users:login' %}" class="login-link">Увійти в акаунт</a></p>
                </form>
            </div>
            
            <div class="image-section">
                <!-- Место для изображения, его можно будет заменить -->
                <img src="{% static "media/registration.svg" %}" alt="Placeholder Image">
            </div>
            
            {% comment %} <div>
                Вже маєте аккаунт ? - Увійти до системи 
            </div> {% endcomment %}
    </body>
{% endblock %}