<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Title{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">   
    {% block extra_head %}{% endblock %}
    
</head>
    <header>
        <div class="nav-links">
            <h3><a class="custom-link" href="{% url "app:index" %}">Главная</a></h3>
            {% if user.is_authenticated %}
            <h3><a class="custom-link" href="{% url "tests:create_test" %}">Создать тест</a></h3>
            {% endif %}
            {% if user.is_admin or user.is_staff %}
            <h3><a class="custom-link" href="{% url 'tests:all_tests' %}">Мои тесты</a></h3>
            {% endif %}
            {% if user.is_admin or user.is_superuser %}
            <h3><a class="custom-link" href="{% url "admin:index" %}">Админка</a></h3>
            {% endif %}
            {% if not user.is_authenticated %}
                <h3><a class="custom-link" href="{% url "users:login" %}">Войти</a></h3>
            {% else %}
            <h3><a class="custom-link" href="{% url "users:profile" %}">{{ user.username }}</a></h3>
            <h3><a class="custom-link" href="{% url "users:logout" %}">Выйти</a></h3>
            {% endif %}    
        </div>
    </header>

    <main>
        {% include "includes/notifications.html" %}
        {% block content %} 
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content -->
    </footer>
</body>
</html>
