<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TestStep{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    {% block extra_head %}{% endblock %}
    
</head>
<header>    
  <div class="nav-links">
      <div class="name-site">
          <img src="{% static "media/icon_page.svg" %}" alt="logo" >
          <h3><a class="custom-link" href="{% url "app:index" %}">TestStep</a></h3>
      </div>

    {% comment %} <div class="desktop-menu"> {% endcomment %}
      <div class='nav'>
            <ul>
                <h3><a class="custom-link" href="{% url "tests:rating" %}">Рейтинг</a></h3>
                
                {% if user.is_admin or user.is_staff %}
                <h3><a class="custom-link" href="{% url 'tests:all_tests' %}">Меню тестів</a></h3>
                {% endif %}
                
                {% if user.is_admin or user.is_superuser %}
                <h3><a class="custom-link" href="{% url "admin:index" %}">Админка</a></h3>
                {% endif %}
                
                {% if not user.is_authenticated %}
                <h3><a class="custom-link" href="{% url "users:login" %}">Войти</a></h3>
                {% else %}
                <h3><a class="custom-link" href="{% url "users:profile" %}">Профиль</a></h3>        
                {% endif %}
            </ul>
        </div>
    {% comment %} </div> {% endcomment %}


    <div class='burger'>
        <span></span>
    </div>



     {% comment %} <!-- Иконка бургер-меню для мобильной версии -->
     <div class="burger-menu" onclick="toggleMenu()">☰</div>
     
      <!-- Выпадающее меню для мобильной версии -->
      <div class="dropdown-menu" id="dropdown-menu">
        <h3><a class="custom-link" href="{% url "tests:rating" %}">Рейтинг</a></h3>
        {% if user.is_admin or user.is_staff %}
            <h3><a class="custom-link" href="{% url 'tests:all_tests' %}">Меню тестів</a></h3>
        {% endif %}
        {% if user.is_admin or user.is_superuser %}
            <h3><a class="custom-link" href="{% url "admin:index" %}">Админка</a></h3>
        {% endif %}
        {% if not user.is_authenticated %}
            <h3><a class="custom-link" href="{% url "users:login" %}">Войти</a></h3>
        {% else %}
            <h3><a class="custom-link" href="{% url "users:profile" %}">Профиль</a></h3>        
        {% endif %}
    </div> {% endcomment %}

    <script>
        {% comment %} function toggleMenu() {
            var dropdown = document.getElementById("dropdown-menu");
            dropdown.classList.toggle("active");
        } {% endcomment %}

        document.querySelector('.burger').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav').classList.toggle('open');
    })

    </script>
    </div>
</header>

    <body>
      {% include "includes/notifications.html" %}
      {% block content %} 
      {% endblock %}
    </body>

    <footer>
        <!-- Your footer content -->
    </footer>

</html>
