.base-container{
    display: flex;
    flex-direction: column;
    max-width: 1068px;
    width: 100%;
    background: #363242;
    border-radius: 12px;
    margin: 40px auto;
    padding: 24px 24px 40px 24px;
}

.container-header {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: start;
    color: #ffff;
    gap: 20px;
}

.category {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.question-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
}

.answers-cotainer{
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.base-checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.base-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    width: 100%;
    border: 1px solid #FFF;
    text-align: start;
    border-radius: 12px;
    padding: 18px;
    margin-right: 40px;
}

.checkbox-answer {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 10px;
}

.checkbox-answer label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-checkbox {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.label-input-answer{
    color: #ffffff;
    width: 100%;
    border: 1px solid #ffffff;
}

.delete-and-answers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.base-matching-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container {
    display: flex;
    align-items: center;
    border: 1px solid #FFF;
    padding: 10px 18px;
    border-radius: 12px;
    gap: 12px;
}

.left-item-container {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

.right-item-container {
    padding: 5px 16px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

.delete-and-score-container {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
    text-align: end;
}

.score-container {
    display: flex;
    width: 40%;
    min-height: 100%;
    color: #ffffff;
    border: 1px solid #7260F5;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

    input{
        display: flex;
        padding: 10px 10px;
        border-radius: 12px;
        
        min-height: 100%;
        background-color: #363242;
        color: #ffffff;
        font-size: 16px;
        border: none;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #BF4949;
    border-radius: 9px;
    cursor: pointer;
}

.delete-container:hover {
    border-color: #ffff;
}

.delete-container img {
    width: 21.333px;
    height: 24px;
}

/* Убираем стандартный вид чекбокса */
input[type="checkbox"] {
    appearance: none; /* Убираем стандартное оформление */
    -webkit-appearance: none; /* Для Safari */
    outline: none;
    border: 2px solid #fff; /* Границы */
    background-color: #363242; /* Чёрный фон по умолчанию */
    border-radius: 4px; /* Закругление */
    width: 24px;
    height: 24px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Состояние :checked */
input[type="checkbox"]:checked {
    background-color: #fff; /* Белый фон */
    border-color: #fefffe; /* Зелёные границы */
}

/* Галочка (псевдоэлемент) */
input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
    width: 6px;
    height: 12px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.answer-input-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.form-control {
    padding: 16px 12px;
    background-color: #363242;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
    height: 57px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

/* Кастомные стрелки */
.custom-number-input{
    position: relative;
    display: inline-block;
    max-width: 250px;
}

.number-input {
    padding: 16px 12px;
    background-color: #363242;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
    height: 57px;
}

.number-input-container::after {
    content: "▲▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 2px; /* Отступ между стрелками */
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

/* Кастомные стрелки */
.arrows {
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
}

.arrow {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: color 0.2s;
}

.arrow:hover {
    color: #7260F5;
    background-color: #363242;
}

.up {
    margin-bottom: 3px; /* Отступ между стрелками */
}

.down {
    margin-top: 3px; /* Отступ между стрелками */
}

.matching-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
}

.matching-answer-input-container {
    display: flex;
    width: 100%;
    gap: 40px;
}

.matching-form-label {
    width: 50%;
}

.matching-form-label input{
    width: 100%;
}

.matching-form-label input {
    padding: 16px 12px;
    background-color: #363242;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    height: 57px;
}

.matching-form-label input::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

.add-answer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    width: 100%;
    height: 58px;
    background-color: #7260F5;
    border-radius: 12px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
    transition: color 0.6s ease, background-color 0.6s ease;

}

.save-answers-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    width: 100%;
    height: 58px;
    background-color: #7260F5;
    border-radius: 12px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
    transition: color 0.6s ease, background-color 0.6s ease;
}

.add-answer-btn:hover{
    color: #7260F5;
    background-color: #ffffff;
}

.save-answers-btn:hover{
    color: #7260F5;
    background-color: #ffffff;
}


.message-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: none;
    z-index: 1000;
}


.message-popup.active{
    display: flex;
    background-color: rgb(0, 119, 0);
    animation: fadeIn 0.4s ease;
    animation-fill-mode: forwards;
}


.message-popup.error {
    display: flex;
    background-color: #ff4d4f;
    animation: fadeIn 0.4s ease;
    animation-fill-mode: forwards;
}


@keyframes fadein{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}


/* Стиль для автозаполненных полей */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-size: 18px !important; /* Задаем одинаковый размер шрифта для всех состояний */
    -webkit-text-fill-color: #ffffff !important; /* Цвет текста */
    -webkit-box-shadow: 0 0 0 1000px #3A3646 inset !important; /* Цвет фона */
    caret-color: #ffffff !important; /* Цвет курсора */
    transition: background-color 5000s ease-in-out 0s; /* Сохраняем цвет фона при автозаполнении */
}

@media (max-width: 550px) {
    .matching-answer-input-container {
        flex-direction: column;
        min-width: 100%;
        gap: 20px;

        input{
            min-width: 100%;
        }
    }

    .matching-form-label {
        width: 100%;
    }

    .custom-number-input{
        max-width: 100%;
        min-width: 100%;
    }

    .answer-input-container {
        flex-direction: column;

        input{
            min-width: 100%;
        }
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .save-answers-btn {
        max-width: 100%;
    }

    .add-answer-btn {
        max-width: 100%;
    }
}