.base-container {
    display: flex;
    max-width: 630px;
    margin: 0px auto;
    margin-top: 60px;
    flex-direction: column;
    background:  #363242;
    border-radius: 12px;
    padding: 24px;

}

.test-header {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 60px;
}

.custom-form {
    display: flex-inline;
    color: #fff;
    gap: 0px 20px;
}

.custom-form p {
    height: 55px;
    align-items: center;
    margin-bottom: 20px;
}

.custom-form p label {
    display: none;
}

/* Поля формы */
.custom-form input {
    padding: 16px 12px;
    background-color: #363242;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
    height: 57px;
}


.custom-form input::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.form-group-upload-image {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}


/* Стили для описания к тесту */
.form-group textarea {
    padding: 16px 12px;
    background-color: #363242;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: #ffffff;
    border-radius: 12px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    width: 100%;
    height: 130px;
}

.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
}

/* dropdown панели */
/* Основной стиль для select */
.custom-select {
    height: 57px;
    width: 100%;
    padding: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    background: #363242;
    border: 1px solid #FFF;
    border-radius: 12px;
    appearance: none; /* Убираем стандартную стрелочку */
    background-image: url('https://teststepbucket.s3.amazonaws.com/icons/create_test_arrow.svg'); /* Добавляем свою стрелку */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Положение стрелки */
    background-size: 24px; /* Размер стрелки */
}



/* Для кастомизации панели выбора */
.custom-select option {
    max-height: 200px; /* Максимальная высота */
    overflow-y: auto; /* Прокрутка, если пунктов много */
    background: #363242;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}


/* image поле */
/* Стили кнопки загрузки */
.btn-upload {
    display: inline-block;
    min-width: 113px;
    background-color: #363242;
    padding: 7px 12px;
    color: #7260F5;
    border: 1.5px solid #7260F5;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-upload:hover {
    background-color: #553399; /* Темнее при наведении */
}

/* Контейнер с именем файла */
.file-name {
    max-width: 400px;
    justify-content: start;
    align-items: center;
    display: inline-block;
    margin-left: 15px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    text-align: start;
    word-wrap: break-word; /* Перенос длинных слов */
    word-break: break-word; /* Разрыв длинных слов */
    overflow-wrap: break-word; /* Дополнительный вариант для переноса */
}

.submit-btn {
    width: 282px;
    height: 55px;
    background-color: #6f42c1;
    border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
}


input[type="text"] {
    appearance: none; /* Отключаем стилизацию для WebKit */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}

.date-wrapper-block {
    display: flex;
    flex-direction: column;
    width: 100%;

    .date-wrapper-label{
        display: flex;
        max-height: 20px !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px;
        margin-bottom: 10px !important;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 146%; 
    }
}

.date-wrapper input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.60);
    border-radius: 12px;
    outline: none;
    flex: 1;
    height: 57px;
    font-size: 16px;
    padding: 16px 12px 16px 12px;
    background-color: transparent;
    appearance: none !important; /* Убираем стандартную иконку */
    -webkit-appearance: none; /* Для Safari/Chrome */
    -moz-appearance: none; /* Для Firefox */
    background-image: url('https://teststepbucket.s3.amazonaws.com/icons/create_test_calendar.svg'); 
    background-repeat: no-repeat;
    background-position: right 10px center; /* Положение иконки */
    background-size: 24px; /* Размер иконки */
}

/* .date-wrapper .calendar-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.date-wrapper .calendar-icon img {
    width: 24px; 
    height: 24px;
    display: block;
    z-index: 0;
}
*/

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    z-index: 1;
    display: block;
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
} */

/* Когда в поле есть текст */
.custom-form input:not(:placeholder-shown),
.form-group textarea:not(:placeholder-shown),
.date-wrapper input:not(:placeholder-shown) {
    border-color: #FFF; /* Зеленый бордер, когда текст введен */
}

/* Стиль для автозаполненных полей */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    font-size: 18px !important; /* Задаем одинаковый размер шрифта для всех состояний */
    -webkit-text-fill-color: #ffffff !important; /* Цвет текста */
    -webkit-box-shadow: 0 0 0 1000px #3A3646 inset !important; /* Цвет фона */
    caret-color: #ffffff !important; /* Цвет курсора */
    transition: background-color 5000s ease-in-out 0s; /* Сохраняем цвет фона при автозаполнении */
}

@media (max-width: 620px) {
    
    .form-group-upload-image {
        flex-direction: column;
    }
    .file-name {
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
        max-width: 100%;
    }
}


@media (max-width: 520px) {
    .base-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .submit-btn {
        width: 95%;
    }

    .date-wrapper {
        flex-direction: column;
    }
    /* .form-group-upload-image {
        flex-direction: column;
    }
    .file-name {
        margin-left: 0px;
        margin-top: 10px;
    } */
}


.error-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4f;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: none;
    z-index: 1000;
}