.group-container {
    max-width: calc(100% - 120px);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #363242;
    border-radius: 12px;
    background: #363242;
}

.group-container h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 24px 24px 0px 24px;
    text-align: left;
    display: flex;
    margin-bottom: 60px;
}

.tests-ratings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, max-content)); /* Колонки адаптируются к ширине контейнера */
    gap: 40px 10px; /* Минимальный gap между элементами */
    justify-content: space-between; /* Равномерное распределение */
    padding: 0 24px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    align-items: center;
}



@media (max-width: 500px) {
    
    .group-container {
        max-width: calc(100% - 30px);
        padding-bottom: 40px;
    }

    .tests-ratings-container {
        justify-content: center;
        
        
    }
}