.group-container {
    overflow: auto;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1290px;
    background-color: #363242;
    border-radius: 12px;
    background: #363242;
}

.group-container h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 24px 24px 60px 24px;
    text-align: left;
    display: flex;
}

.tests-ratings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, max-content)); /* Колонки адаптируются к ширине контейнера */
    gap: 40px 5px; /* Минимальный gap между элементами */
    justify-content: space-between; /* Равномерное распределение */
    padding: 0 22px;
    margin-bottom: 40px;
    align-items: center;
}


/* Адаптивный медиазапрос для небольших экранов */
@media (max-width: 1290px) {
    .group-container {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .group-container {
        margin-top: 60px;
        margin-left: 60px; /* Внешний отступ для небольших экранов */
        margin-right: 60px; /* Внешний отступ для небольших экранов */
    }

    .tests-ratings-container {
        padding: 0 45px;
    }
}