
.matching-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-column {
    display: flex;
    width: 100%;
    align-items: center;
}

.right-column {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-bottom: 24px;
}

.left-item {
    position: relative;
    padding: 10px;
    margin-bottom: 24px;
    border: 1px solid #FFF;
    border-radius: 12px;
    background-color: #363242;
    color: #f0f0f0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Оставляем текст и dropzone по краям */
    align-items: center;
    text-align: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Добавляем отступ между текстом и dropzone */
    min-height: 50px; /* Гарантируем минимальную высоту */
}

.left-item label {
    display: block; /* Гарантируем, что текст будет блочным */
    flex: 1; /* Занимает всё доступное пространство */
    text-align: start;
    padding-left: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* Улучшает перенос текста */
    word-wrap: break-word; /* Перенос слов при необходимости */
    overflow-wrap: break-word; /* Поддержка для старых браузеров */
    white-space: normal; /* Разрешаем перенос строк */
    overflow: hidden; /* Избегаем нежелательных переполнений */
}


.right-item {
    padding: 10px;
    border-radius: 12px;
    color: black;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    max-width: 230px;
    width: 100%;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрируем текст */
    word-wrap: break-word; /* Перенос слов при необходимости */
    overflow-wrap: break-word; /* Поддержка для старых браузеров */
    white-space: normal; /* Разрешаем перенос строк */
}

.right-item label {
    padding: 0px;
    display: block; /* Гарантируем, что текст будет блочным */
    max-width: 100%; /* Устанавливаем максимальную ширину */
    text-align: center; /* Центрируем текст */
    color: black;
    pointer-events: none;
    z-index: 5;
    word-wrap: break-word; /* Перенос слов при необходимости */
    overflow-wrap: break-word; /* Поддержка для старых браузеров */
    white-space: normal; /* Разрешаем перенос строк */
}

.dropzone {
    flex-shrink: 0;
    max-width: 230px;
    width: 100%;
    min-width: 166px;
    min-height: 38px;
    border-radius: 12px;
    border: 1px solid #FFF;
    background-color: #f0f0f0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-left: auto; /* Гарантируем, что dropzone останется справа */
}

.right-item[draggable="true"] {
    cursor: move;
}