.base-group-container {
    background-color: #363242;
    overflow: auto;
    max-width: 1290px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 12px;
    padding: 24px 24px 0px 24px;
}

.tests-container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, max-content)); /* Колонки адаптируются к ширине контейнера */
    gap: 40px 5px; /* Минимальный gap между элементами */
    justify-content: space-between; /* Равномерное распределение */
    margin-bottom: 40px;
    align-items: center;
}

.tests-group-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 60px;
}

.tests-group-header img{
    width: 22px;
    height: 24px;
}

.tests-group-header h2{
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    left: 50%; /* Сдвигаем влево на 50% ширины контейнера */
    transform: translateX(-50%); /* Центрируем текст по оси X */
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* Ссылка на тест */
.user-link {
    display: block;
    width: 286px;
    height: 106px;
    text-decoration: none;
    color: inherit;
}

/* Контейнер для каждого теста */
.overlay-container {
    position: relative;
    background-size: cover;  /* Убедимся, что изображение занимает весь контейнер */
    background-position: center;
    width: 100%;
    height: 100%; /* 100% от высоты родителя (184px) */
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #5C4F61;
}

.overlay-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0); /* Полупрозрачный чёрный слой */
    z-index: 1; /* Устанавливаем поверх фоновой картинки, но ниже текста */
}

/* .test-overlay {
    position: relative;
    z-index: 2; 
} */

/* Верхний заголовок с названием теста */
.user-overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0); /* Полупрозрачный фон */
    color: #fff;
    padding: 5px 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    border-radius: 8px 8px 0 0; /* Закругляем верхний угол */
}

/* Нижняя полоса с датами */
.user-overlay-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0); /* Полупрозрачный фон */
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 8px 8px; /* Закругляем нижний угол */
}

/* Иконка календаря */
.user-overlay-footer .date-icon {
    margin-right: 5px;
}

.date-icon img{
    height: 24px;
    width: 24px;
}

.date-icon span {
    font-size: 18px; /* Размер текста */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Roboto;
    color: #ffffff; /* Белый текст */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    padding-left: 5px;
    position: relative; /* Устанавливаем относительное позиционирование */
    top: -5px; /* Смещаем элемент вверх на 5px */
}

.user-overlay-header, .user-overlay-footer {
    z-index: 3; /* Эти контейнеры остаются выше затемняющего слоя */
}

/* Анимация на hover */
.user-link:hover .overlay-container {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


@media (max-width: 500px) {
    .base-group-container {
        margin: 60px 5px;
    }

    .tests-container-items {
        justify-content: center;
    }
}