.my-test-container{
    overflow: auto;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 24px;
    max-width: calc(100% - 120px);
    background-color: #363242;
    border-radius: 12px;
    background: #363242;
}


.tests-sorted-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, max-content)); /* Колонки адаптируются к ширине контейнера */
    gap: 40px 15px; /* Минимальный gap между элементами */
    justify-content: space-between; /* Равномерное распределение */
    margin-bottom: 16px;
    align-items: center;
}

.my-test-container-header {
    display: flex;               /* Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяет элементы по краям контейнера */
    align-items: center;         /* Вертикальное центрирование */
    margin-bottom: 60px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap
}

.test-check {
    color: #7260F5;
    background-color: #363242;
    font-family: Roboto;
    padding: 7px 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border: 2px solid #7260F5;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap
}

/* Адаптивность для кнопки */
.test-check:hover {
    background-color: #7260F5;
    color: #FFF;
}


@media (max-width: 500px) {
    .my-test-container {
        max-width: calc(100% - 30px);
        margin-bottom: 20px;
    }

    .my-test-container-header {
        flex-direction: column;
        margin-bottom: 40px;
        gap: 20px;
    }
    
    .tests-sorted-container {
        justify-content: center;
        
    }
}

