/* Контейнер для группы тестов */
.test-group-container {
    /* max-width: calc(100% - 160px); */
    width: 100%;
    max-width: 1290px;
    margin: 0 auto; /* Центрируем блок */
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 530px) {
    .test-group-container {
        max-width: calc(100% - 30px);
    }
}

.test-group {
    background-color: #3A354A;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: auto;
}

/* Заголовок группы */
.group-header {
    background-color: #3A354A;
    color: white;
    padding: 24px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.group-header h3{
    font-size: 24px;
    margin: 0%;
}

.arrow {
    font-size: 18px;
}

/* Содержимое группы (скрыто по умолчанию) */
.group-content {
    display: none;
    background-color: #3A354A;
    padding-top: 36px;
    height: 100%;
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 24px;
}

.tests {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content)); /* Определяем фиксированную ширину в 286px для тестов */
    gap: 40px 15px; /* 40px между строками, 20px между колонками */
    justify-content: start; /* Выравнивание элементов по левому краю */
    padding: 0 22px; /* Отступы по краям, чтобы первый и последний тест имели отступы слева и справа */
    margin-bottom: 60px;
}

@media (max-width: 530px) {
    .tests {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(286px, max-content));
    }

    .category h3 {
        text-align: center;
        padding-left: 0;
    }
}

.arrow {
    display: inline-block;
    width: 24px;  /* Укажи точную ширину твоей картинки */
    height: 24px; /* Укажи точную высоту твоей картинки */
    background-image: url('https://teststepbucket.s3.amazonaws.com/icons/arrow_icon.svg'); /* Путь к картинке */
    background-size: contain; /* Сохраняем размер изображения */
    background-repeat: no-repeat; /* Не повторяем картинку */
    background-position: center; /* Центрируем картинку */
    transition: transform 0.4s ease;
}

.arrow.rotate {
    transform: rotate(180deg); /* Поворачиваем стрелку на 180 градусов */
}