body {
    background-color: #2B2738;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.base-container {
    display: flex;
    margin: 60px auto;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.base-container h2{
    font-size: 24px;
}

.base-container p{
    font-size: 20px;
}