body {
    background-color: #2B2738;
}

.base-container {
    margin: 0 auto;
    margin-top: 60px;
    width: 90vw;
    background-color: #363242;
    padding: 24px;
    color: #ffffff;
    border-radius: 12px;
}

.base-container h2{
    margin: 0;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
}

.password-help {
    background-color: #2B2738;
    border-radius: 12px;
    padding: 14px 14px 14px 14px;
    text-align: start;
    margin-bottom: 20px;
}

.password-help p{
    margin: 5px;
}

.form-container label{
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

/* Поля формы */
.form-container input {
    padding: 20px 24px;
    background: rgba(255, 255, 255, 0.07);
    border-width: 1px;
    border-color: antiquewhite;
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    width: 50vw;
    height: 47px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.8s ease
}

.form-container input:focus{
    background-color: #363242;
}

.form-container button{
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    color: #ffffff;
    background-color: #7260F5;
    height: 55px;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 32px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background-color 0.8s ease, border-color 0.3s ease;
}

.form-container button:hover {
    color: #7260F5;
    background-color: #ffffff;
}