.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: #363242;
    border-radius: 12px;
    padding: 24px;
    max-width: 630px;
    margin: 0 auto;
    margin-top: 60px;
}

.leaderboard-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
    width: 100%;
}

.leaderboard-header h2 {
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    left: 50%; /* Сдвигаем влево на 50% ширины контейнера */
    transform: translateX(-50%); /* Центрируем текст по оси X */
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 530px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение на 3 строки */
    -webkit-box-orient: vertical;
    overflow: hidden; /* Скрытие лишнего текста */
    text-overflow: ellipsis; /* Добавление многоточия в конце */
}

.back-icon img {
    width: 22px;
    height: 24px;
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
}

.leaderboard-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 24px 20px 24px;
    color: white;
    justify-content: space-between;
}

@media (max-width: 440px) {
    .leaderboard-item {
        padding: 20px 0px 20px 0px;
    }
}

.leader-item-header {
    display: flex;
    align-items: center;
    gap: auto;
}

.leader-item-header .name-user {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leaderboard-item img {
    width: 38px;
    height: 37px;
    margin-right: 12px;
}

.leader-item-header .count-user {
    width: 38px;
    height: 37px;
    margin-right: 12px;
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.leaderboard-item .score-and-time {
    padding: 0px 24px 0px 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.leaderboard-item .count-user {
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}