.main-test-container {
    display: flex;
    width: 90%;  /* Делаем ширину адаптивной, например, 90% от ширины экрана */
    max-width: 1068px;  /* Максимальная ширина */
    border-radius: 12px;
    padding: 24px 24px 40px 24px;
    background: #363242;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
}

form.readonly {
    pointer-events: none; /* Блокирует взаимодействие с элементами формы */
    opacity: 0.8; /* Можно добавить визуальный эффект */
}

form.readonly button {
    pointer-events: auto;
}

.test-header {
    gap: auto;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.test-header h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.test-header label{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.test-category {
    display: flex;
    justify-content: start;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.text-question {
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}

h3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
}

.question-image-container {
    display: flex;
    max-width: 410px;
    max-height: 240px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.question-image-container img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 12px;
}

/* Чекбоксы */
.checkbox-answers {
    display: flex;
    flex-direction: column; /* Расположим ответы в столбик */
    padding: 0px 10px 10px 10px;
}

.checkbox-answers label{
    margin-bottom: 20px; /* Отступ между вариантами ответа */
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Скрываем стандартные чекбоксы */
.checkbox-answers input[type="checkbox"] {
    display: none; /* Полностью скрываем стандартный input */
}

/* Контейнер для каждого чекбокса */
.custom-checkbox {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Настраиваем внешний вид кастомного чекбокса */
.custom-checkbox-box {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border: 3px solid #ffffff; /* Белая рамка */
    background-color: #363242; /* Черный фон */
    display: inline-block;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Внутренний белый квадрат при выборе */
.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox-box::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px; /* Сделаем внутренний квадрат немного округлым */
}

/* радио селекты */
/* Стиль для контейнера ответов */
.radio-answers {
    display: flex;
    flex-direction: column; /* Расположим ответы в столбик */
    padding: 0px 10px 10px 10px;
}

/* Стиль для каждого лейбла ответа */
.radio-answers label {
    margin-bottom: 20px; /* Отступ между вариантами ответа */
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Стилизация радиокнопок */
/* Скрываем стандартные радио-кнопки */
.radio-answers input[type="radio"] {
    display: none;  /* Скрываем input, он остаётся в DOM и отправляется при отправке формы */
}

/* Контейнер для кастомной радио-кнопки */
.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Внешний круг радио-кнопки */
.custom-radio-circle {
    width: 22px;
    height: 22px;
    border: 2px solid #fdfdfd;
    border-radius: 50%;
    background-color: transparent;
    position: relative;  /* Создаём контекст для центрирования внутреннего круга */
    margin-right: 10px;
    transition: background-color 0.8s ease, border-color 0.8s ease;
}

/* Внутренний круг при выборе (позиционирование по центру) */
.custom-radio.active .custom-radio-circle::before {
    content: "";
    width: 14px;  /* Размер внутреннего кружка с отступом */
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Центрирование */
    transition: background-color 0.8s ease, transform 0.8s ease;
}

/* поле input  */
.input-answer input{
    height: 58px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    width: 100%;
    background-color: #363242;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
}


/* Стили для placeholder */
.input-answer input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146%; /* 29.2px */
}

/* Аудио ответ */
.question-audio-container {
    display: flex;
    width: 400px;
    height: 60px;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Секция для аудио-плеера */
.question-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    pointer-events: auto;
}

.question-audio img {
    width: 30px;
    height: 30px;
}

.player-section {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: start;
    width: 203px;
    height: 60px;
    /* pointer-events: auto;
    cursor: pointer; */
}

.section {
    height: 35px;
    width: 4px;
    margin-right: 6px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    justify-content: start;
    border: #FFFFFF;
    border-radius: 1.313px;
    /* pointer-events: auto;
    cursor: pointer; */
}

.duration {
    color: #B0AFBA;
    font-size: 14px;
    transform: translateY(145%);
}

/* Форма вопросов с установлением соотвецтвий */
.form-matching {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.left-items-container {
    display:flex;
    flex-direction: column;
    width: 50%;
}

.right-items-container {
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: end;
    align-items: end;
}

.button-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.submit-btn {
    background-color: #7260F5;
    width: 277px;
    color: #FFF;
    border-radius: 12px;
    padding: 16px  0px 16px 0px;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #FFF;
    color: #363242;
}

@media (max-width: 700px) {
    .button-container {
        flex-direction: column;
    }

    .submit-btn {
        width: 100%;
    }
}