{% extends "base.html" %}
{% load static %}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

    <div class="test-container">
        {% for test in tests %}
        <a href="{% url "tests:test_preview" test_id=test.id %}" class="test-item-link">
            <div class="test-item" style="background-image: url('{% if test.image %}{{ test.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}');">
                <div class="test-overlay">
                    <h2>{{ test.name }}</h2>
                </div>
            </div>
        </a>    
    {% endfor %}
    </div>

{% endblock content %}