{% extends "base.html" %}
{% load static %}



{% block content %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">  
<meta name="viewport" content="width=device-width, initial-scale=1">

<body align='center'>
    
    <div class="test-group-container">
        <div class="test-group">
            <div class="group-header" onclick="toggleGroup('group-1')">
                <h3>{{ group }}</h3>
                <span class="arrow">&#9660;</span> <!-- Стрелка вниз -->
            </div>
            <div id="group-1" class="group-content">
                <!-- Здесь будут категории и тесты для группы 1 -->
                <div class="category">
                    <h3 align='left'>Невиконані тести</h3>
                    <div class="tests">
                        <!-- Тесты первой категории -->

                                {% for test in tests %}
                                <a href="{% url "tests:test_preview" test_id=test.id %}" class="test-item-link">
                                    <div class="test-item" style="background-image: url('{% if test.image %}{{ test.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}');">
                                        <div class="test-overlay">
                                            <h2>{{ test.name }}</h2>
                                        </div>
                                    </div>
                                </a>    
                                {% endfor %}

                        </div>
                    </div>
                <div class="category">
                    <h3 align='left'>Очікують на перевірку</h3>
                    <div class="tests">
                        {% for test in tests %}
                                <a href="{% url "tests:test_preview" test_id=test.id %}" class="test-item-link">
                                    <div class="test-item" style="background-image: url('{% if test.image %}{{ test.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}');">
                                        <div class="test-overlay">
                                            <h2>{{ test.name }}</h2>
                                        </div>
                                    </div>
                                </a>    
                        {% endfor %}
                    </div>
                </div>
                <div class="category">
                    <h3 align='left'>Пройдені тести</h3>
                    <div class="tests">
                        <!-- Тесты третьей категории -->
                        <div class="test-item">Тест 5</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Ещё одна группа -->
        <div class="test-group">
            <div class="group-header" onclick="toggleGroup('group-2')">
                <h3>Група - КН 20-2</h3>
                <span class="arrow">&#9660;</span>
            </div>
            <div id="group-2" class="group-content">
                <!-- Категории и тесты для второй группы -->
            </div>
        </div>
    </div>
</body>
    
    <script>
        function toggleGroup(groupId) {
            var groupContent = document.getElementById(groupId);
            if (groupContent.style.display === "none" || groupContent.style.display === "") {
            groupContent.style.display = "block";
        } else {
            groupContent.style.display = "none";
        }
    }
</script> 

{% endblock content %}